<div class="cart-page-wrapper">
	<div class="container" ng-init="Customer.ShippingCountry = 'Pakistan';">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 cart-page-header">
				<div class="col-xs-6">
					<h3 class="static-page-title">Cart</h3>
				</div>
				<div class="col-xs-6">
					<a class="no-decoration" href="/"><h5 class="back-to-shop">Back to shop<i class="my-arrow glyphicon glyphicon-chevron-right"></i></h5></a>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 cart-page-content">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="col-md-9 cart-review">
						<h6 class="text-left text-bold">REVIEW AND MODIFY YOUR ITEMS HERE</h6>
					</div>
					<div class="col-md-3 cart-addmore-button">
						<button ng-click="go('/');" type="button" class="btn btn-default add-more-btn">ADD MORE ITEMS</button>
					</div>
					<div class="selections-panel">
						<div class="table-responsive">
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>STEP 1: CONFIRM YOUR SELECTIONS</th>
										<th>QUANTITY</th>
										<th>PRICE</th>
									</tr>
									
									
									<tbody ng-repeat="(keyMain,Itemss) in Cart track by $index">
										<tr ng-if="!IfCart()">
											<td><p  class="text-center add-items">Please add items</p></td>
											<td></td>
											<td></td>
										</tr>
										<tr ng-show="Itemss.productID">
											<td><img ng-if="Itemss.productInfo.productImage[0].Image" ng-src="{{Itemss.productInfo.productImage[0].Image}}" alt="...">
												<img ng-if="!Itemss.productInfo.productImage[0].Image" ng-src="http://placehold.it/80x70/666666" alt="...">
												
												<h6 class="text-bold">{{Itemss.productInfo.productName}}</h6>
												
											</td>
											<td>
												<select min='1' ng-change="changeQuantity()" ng-model="Itemss.quantity" type="number" class="cart-page-select-box">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
												<a class="cart-remove-btn" ng-click="RemoveCartItem(Itemss.productID,false)">(Remove)</a>
											</td>
											<td><h6 class="text-bold">{{Itemss.price * Itemss.quantity | nfcurrency:"PKR "}}</h6></td>
										</tr>
										<tr  ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index">
											<td><img ng-if="itm.productInfo.productImage[0].Image" ng-src="{{itm.productInfo.productImage[0].Image}}" alt="...">
												<img ng-if="!itm.productInfo.productImage[0].Image" ng-src="http://placehold.it/80x70/666666" alt="...">
												
												<h6 class="text-bold">{{itm.productInfo.productName}}</h6>
												<span>{{key}}</span>
											</td>
											<td>
												<select min='1' ng-change="changeQuantity()" ng-model="itm.quantity" type="number" class="cart-page-select-box">
													<option>1</option>
													<option>2</option>
													<option>3</option>
													<option>4</option>
													<option>5</option>
												</select>
												<a class="cart-remove-btn" ng-click="RemoveCartItem(itm.productID,key)">(Remove)</a>
											</td>
											<td><h6 class="text-bold">{{itm.price * itm.quantity | nfcurrency:"PKR "}}</h6></td>
										</tr>
										
									</tbody>
									
									<tbody class="cart-total-section">
										<tr>
											<td>
												<form class="navbar-form" role="search">
													<div class="input-group">
														<input type="text" class="form-control standard-input" placeholder="Have a coupon?" name="srch-term" id="srch-term">
														<div class="input-group-btn">
															<button class="btn btn-default" type="submit"><span style="font-size: 10px;">Apply</span></button>
														</div>
													</div>
												</form>
											</td>
											<td><h6 class="text-bold">Food & Drinks</h6>
												<h6 class="text-bold" ng-if="ReturnTaxPrice()">Taxes</h6>
												<h6 class="text-bold">Order Total</h6>
											</td>
											<td>
												<h6 class="text-bold">{{ReturnTotal()-ReturnTaxPrice() | nfcurrency:"PKR "}}</h6>
												<h6 class="text-bold" ng-if="ReturnTaxPrice()">{{ReturnTaxPrice() | nfcurrency:"PKR "}}</h6>
												<h6 class="text-bold">{{ReturnTotal() | nfcurrency:"PKR "}}</h6>
											</td>
										</tr>
									</tbody>
								</thead>
							</table>
						</div>
					</div>
					<div class="drinks-panel" ng-if="ThemeSettings.theme_settings.enable_drinksproduct" >
						<div class="table-responsive" ng-hide="ifdrinks()">
							<table class="table table-striped table-bordered">
								<thead>
									<tr>
										<th>STEP 2: CHOOSE YOUR DRINKS</th>
										
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="drinks-section" ng-repeat="products in ListProduct | CustomFilter:{collection:'Drinks'}">
												<a href="./product/{{products.productUrl}}">
													<h6 class="drink-name">{{products.productName}}</h6>
													
													<img ng-if="products.productImage[0].Image" ng-src="{{products.productImage[0].Image}}" alt="...">
													<img ng-if="!products.productImage[0].Image" ng-src="http://placehold.it/80x70/666666" alt="...">
													<form class="hidden-xs" role="form">
														<div class="radio">
															<label>Select<input type="radio" name="optradio"></label>
														</div>
													</form>
												</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="main-wrapper" ng-if="ThemeSettings.theme_settings.enable_featuredproduct">
						
						
						<div class="collection">
							<h6 class="collection-product-name">You Might Also Enjoy</h6>
						</div>
						<div ng-repeat="(ThemeId,ThemeFeature) in ThemeSettings.theme_settings.featuredproduct track by $index">
							<div ng-if="ThemeFeature">
								<div ng-repeat="collection in ListCollection | filter:{collectionName:SearchCollection}">
									<div ng-show="(collection.id == ThemeId)">
										<div  class="col-md-3 col-sm-3 col-xs-6 product" ng-repeat="(prodID,products) in ListProduct | CustomFilter:{collection:collection.collectionName} | limitTo:8">
											<div class="prod-img">
												<a href="./product/{{products.productUrl}}" class="thumbnail">
													<img ng-if="products.productImage[0].Image" ng-src="{{products.productImage[0].Image}}" alt="..." title="{{products.productDescription}}">
													<img ng-if="!products.productImage[0].Image" ng-src="http://placehold.it/154x120/666666" alt="..." title="{{products.productDescription}}">
												</a>
											</div>
											<a href="">
												<button type="button" class="btn btn-default active-btn">Order</button>
											</a>
											<h5 class="text-left prod-name">{{products.productName}}</h5>
											<p class="text-left prod-description" ng-bind-html="products.productDescription | cut:true:80:' ...'"></p>
											
										</div>
										
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 sidebar-content-page">
					<form role="form" ng-submit="userStatus();">
						<div class="side-box">
							<h4>Order Details</h4>
							
							<div class="box-row">
								<h6 class="text-left">Mode of Payment</h6>
								<select ng-change="UpdatePaymentMethod(PaymentMethod);SetLocalStorageGlobal(PaymentMethod,'Payment');"  ng-options="payment.name as payment.name for payment in ListPaymentMethod" ng-model="PaymentMethod" required class="form-control carts-select-box">
									<option value="">Select Payment Type</option>
								</select>
							</div>
							<div class="box-row">
								<h6 class="text-left">Nearby Outlet</h6>
								<p class="text-left">Please select an outlet near your location</p>
								<select required ng-change="UpdateCountryName(User.info.CountryName);resetLocalityValues(User.info.CountryName,'City');" ng-options="Location.City as Location.City for Location in ListSettingsLocation | unique:'City'" ng-model="User.info.CountryName" class="form-control carts-select-box">
									<option value="">Select City</option>
								</select>
								<select required ng-change="UpdateoutletName(User.info.outletName);SetLocalStorageGlobal(User.info.outletName,'Outlet');" ng-options="Location.Name as Location.Name for Location in ListSettingsLocation | filter:{City: User.info.CountryName}"  ng-model="User.info.outletName"class="form-control carts-select-box">
									<option value="">Select Outlet</option>
								</select>
							</div>
							
							
							
						</div>
						
						<button ng-show="IfCart()" type="submit" class="btn btn-primary btn-lg btn-block active-btn">Checkout</button>
						
						
					</form>
					<button title="Please add items into cart" ng-show="!IfCart()" class="btn btn-primary btn-lg btn-block active-btn" style="opacity:0.5">Checkout</button>
					
				</div>
			</div>
			
		</div>
	</div>
</div>