<div class="collection-page-wrapper" ng-init="InitCollection()">
    <div class="container" ng-if="routeParam == 'menu'">
        <div class="row" ng-init="init()">
            
            <div class="col-md-8 left-column">
                <div class="col-md-12 col-sm-12 col-xs-12 collection-nav">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
                        
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <!-- <a class="navbar-brand" href="#">Brand</a> -->
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                            <ul class="nav navbar-nav" ng-repeat="Navigation in ListNavigation | filter : 'collection-list'">
                                <li ng-repeat="Nav in Navigation.link_list" ng-show="Nav.commaSeprated"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}"><a href="{{Nav.commaSeprated}}">{{Nav.name}}</a></li>
                            </ul>
                            </div><!-- /.navbar-collapse -->
                            
                        </nav>
                        
                    </div>
                    <div>
                        <div class="col-md-12 col-sm-12 col-xs-12 collection-product-section"  ng-repeat="collection in ListCollection">
                            <div class="main-wrapper" ng-show="(collection.collectionName != 'Frontpage')">
                                <div class="collection" ng-if="collection.collectionName != 'Menu' && collection.collectionName != 'All'">
                                    <h4 class="collection-product-name">{{collection.collectionName}}</h4>
                                </div>
                                <div  class="col-md-3 col-sm-3 col-xs-6 product" ng-repeat="products in ListProduct | CustomFilter:{collection:collection.collectionName} |  filter:Search">
                                    <div class="prod-img">
                                        <a href="./product/{{products.productUrl}}" class="thumbnail">
                                            <img ng-if="products.productImage[0].Image" ng-src="{{products.productImage[0].Image}}" alt="..." title="{{products.productDescription}}">
                                            <img ng-if="!products.productImage[0].Image" ng-src="http://placehold.it/154x120/666666" alt="..." title="{{products.productDescription}}">
                                        </a>
                                    </div>
                                    <a class="no-decoration" href="./product/{{products.productUrl}}">
                                        <button type="button" class="btn btn-default active-btn">Order</button>
                                    </a>
                                    <a class="no-decoration" href="./product/{{products.productUrl}}">
                                    <h5 class="text-left prod-name">{{products.productName}}</h5></a>
                                    <p class="text-left prod-description" ng-bind-html="products.productDescription | cut:true:80:' ...'"></p>
                                    
                                </div>
                                
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12 right-column">
                    <div class="col-md-12 col-sm-12 col-xs-12 sidebar">
                        <div class="checkout-sidebar">
                            <h5 class="my-order">My Order</h5>
                            <div class="col-md-12 col-sm-12 col-xs-12 content">
                                <a class="no-decoration" ng-if="!IfCart()" href="javascript:void(0)">
                                    <button type="button" class="btn btn-primary btn-lg btn-block dull-btn">Checkout</button>
                                </a>
                                <a class="no-decoration" ng-if="IfCart()" href="/cart">
                                    <button type="button" class="btn btn-primary btn-lg btn-block active-btn">Checkout</button>
                                </a>
                                <p ng-if="!IfCart()" class="text-center add-items">Please add items</p>
                                <div ng-show="IfCart()">
                                    <div class="col-md-12 col-sm-12 col-xs-12  cart-details-checkout" >
                                        <div  ng-repeat="(keyMain,Itemss) in Cart track by $index">
                                            <div ng-show="Itemss.productID" style="border-bottom: 1px solid #E0E0E0;padding-bottom: 76px">
                                                <div class="col-md-8 col-sm-7 col-xs-7 order-summary">
                                                    <h6 class="text-left cart-prod-name">{{Itemss.productInfo.productName}}</h6>
                                                    
                                                    <a  ng-click="RemoveCartItem(Itemss.productID,false)">Remove</a>
                                                </div>
                                                <div class="col-md-4 col-sm-5 col-xs-5 cart-numerics">
                                                    <h5 class="text-right">{{Itemss.price * Itemss.quantity | nfcurrency:"PKR"}}</h5>
                                                    <select ng-change="changeQuantity()" ng-model="Itemss.quantity" type="number" min="1" class="cart-select-box">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index" style="border-bottom: 1px solid #E0E0E0;padding-bottom: 76px">
                                                <div class="col-md-8 col-sm-7 col-xs-7 order-summary">
                                                    <h6 class="text-left cart-prod-name">{{itm.productInfo.productName}}</h6>
                                                    <span>{{key}}</span>
                                                    <a ng-click="RemoveCartItem(itm.productID,key)">Remove</a>
                                                </div>
                                                <div class="col-md-4 col-sm-5 col-xs-5 cart-numerics">
                                                    <h5 class="text-right">{{Itemss.price * Itemss.quantity | nfcurrency:"PKR"}}</h5>
                                                    <select min='1' ng-change="changeQuantity()" ng-model="itm.quantity" type="number" class="cart-select-box">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            
            
        </div>
        <div class="container"  ng-if="routeParam != 'menu'">
            <div class="row" ng-init="init()">
                <div class="col-md-8 col-sm-12 col-xs-12 left-column" ng-if="routeParam == 'all'">
                    
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="ThemeSettings.theme_settings.slide_collection_1_img">
                        <a href="{{ThemeSettings.theme_settings.slide_collection_1_link}}" class="thumbnail">
                            <img ng-src="{{ThemeSettings.theme_settings.slide_collection_1_img}}" alt="...">
                        </a>
                        
                    </div>
                    
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="collection in ListCollection">
                        <div class="collection-header" ng-show="(collection.collectionName != 'Frontpage')">
                            <a href="collections/{{collection.collectionUrl}}">
                                <div class="col-md-3 col-sm-3  col-xs-3 collection-item">
                                    <a href="collections/{{collection.collectionUrl}}" class="thumbnail" ng-if="collection.collectionImage">
                                        <img ng-src="http://aecommerce.blob.core.windows.net/collection/{{collection.collectionImage}}" alt="...">
                                    </a>
                                    <a href="collections/{{collection.collectionUrl}}" class="thumbnail" ng-if="!collection.collectionImage">
                                        <img ng-src="http://placehold.it/150x78/666666" alt="...">
                                    </a>
                                    
                                    
                                </div>
                                <div class="col-md-9 col-sm-9 col-xs-9  collection-wrap">
                                    <div class="collection-details">
                                        <a class="no-decoration" href="collections/{{collection.collectionUrl}}">
                                            <h5 class="text-left collection-name">{{collection.collectionName}}</h5>
                                            <p class="text-left collection-description" ng-bind-html="collection.collectionDescription | cut:true:70:' ...'"></p>
                                        </a>
                                    </div>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-md-8 left-column" ng-if="routeParam != 'all'">
                    <div class="col-md-12 col-sm-12 col-xs-12 collection-nav">
                        <nav class="navbar navbar-default" role="navigation">
                            <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
                            
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                </button>
                                <!-- <a class="navbar-brand" href="#">Brand</a> -->
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                                <ul class="nav navbar-nav" ng-repeat="Navigation in ListNavigation | filter : 'collection-list'">
                                    <li ng-repeat="Nav in Navigation.link_list" ng-show="Nav.commaSeprated"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}"><a href="{{Nav.commaSeprated}}">{{Nav.name}}</a></li>
                                </ul>
                                </div><!-- /.navbar-collapse -->
                                
                            </nav>
                            
                        </div>
                        <div>
                            <div class="col-md-12 col-sm-12 col-xs-12 collection-product-section"  ng-repeat="collection in ListCollection | CustomFilter:{collection:collection.collectionName}">
                                <div class="main-wrapper" ng-show="(collection.collectionName != 'Frontpage')">
                                    <div class="collection"  ng-if="routeParam == collection.collectionUrl || routeParam == 'all'">
                                        <h4 class="collection-product-name">{{collection.collectionName}}</h4>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6 product" ng-repeat="products in ListProduct | CustomFilter:{collection:collection.collectionName}| CustomFilter:{collection:routeParam}| filter:Search">
                                        <div ng-if="routeParam == collection.collectionUrl || routeParam == 'all'">
                                            <div class="prod-img">
                                                <a href="./product/{{products.productUrl}}" class="thumbnail">
                                                    <img ng-if="products.productImage[0].Image" ng-src="{{products.productImage[0].Image}}" alt="..." title="{{products.productDescription}}">
                                                    <img ng-if="!products.productImage[0].Image" ng-src="http://placehold.it/154x120/666666" alt="..." title="{{products.productDescription}}">
                                                </a>
                                            </div>
                                            <a class="no-decoration" href="./product/{{products.productUrl}}">
                                                <button type="button" class="btn btn-default active-btn">Order</button>
                                            </a>
                                            <a class="no-decoration" href="./product/{{products.productUrl}}">
                                                <h5 class="text-left prod-name">{{products.productName}}</h5>
                                                <p class="text-left prod-description" ng-bind-html="products.productDescription | cut:true:80:' ...'"></p>
                                            </a>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12 right-column">
                        <div class="col-md-12 col-sm-12 col-xs-12 sidebar">
                            <div class="checkout-sidebar">
                                <h5 class="my-order">My Order</h5>
                                <div class="col-md-12 col-sm-12 col-xs-12 content">
                                    <a class="no-decoration" ng-if="!IfCart()" href="javascript:void(0)">
                                        <button type="button" class="btn btn-primary btn-lg btn-block dull-btn">Checkout</button>
                                    </a>
                                    <a class="no-decoration" ng-if="IfCart()" href="/cart">
                                        <button type="button" class="btn btn-primary btn-lg btn-block active-btn">Checkout</button>
                                    </a>
                                    <p ng-if="!IfCart()" class="text-center add-items">Please add items</p>
                                    <div ng-show="IfCart()">
                                        <div class="col-md-12 col-sm-12 col-xs-12  cart-details-checkout" >
                                            <div  ng-repeat="(keyMain,Itemss) in Cart track by $index">
                                                <div ng-show="Itemss.productID" style="border-bottom: 1px solid #E0E0E0;padding-bottom: 76px">
                                                    <div class="col-md-8 col-sm-7 col-xs-7 order-summary">
                                                        <h6 class="text-left cart-prod-name">{{Itemss.productInfo.productName}}</h6>
                                                        
                                                        <a  ng-click="RemoveCartItem(Itemss.productID,false)">Remove</a>
                                                    </div>
                                                    <div class="col-md-4 col-sm-5 col-xs-5 cart-numerics">
                                                        <h5 class="text-right">{{Itemss.price * Itemss.quantity | nfcurrency:"PKR"}}</h5>
                                                        <select ng-change="changeQuantity()" ng-model="Itemss.quantity" type="number" min="1" class="cart-select-box">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index" style="border-bottom: 1px solid #E0E0E0;padding-bottom: 76px">
                                                    <div class="col-md-8 col-sm-7 col-xs-7 order-summary">
                                                        <h6 class="text-left cart-prod-name">{{itm.productInfo.productName}}</h6>
                                                        <span>{{key}}</span>
                                                        <a ng-click="RemoveCartItem(itm.productID,key)">Remove</a>
                                                    </div>
                                                    <div class="col-md-4 col-sm-5 col-xs-5 cart-numerics">
                                                        <h5 class="text-right">{{Itemss.price * Itemss.quantity | nfcurrency:"PKR"}}</h5>
                                                        <select min='1' ng-change="changeQuantity()" ng-model="itm.quantity" type="number" class="cart-select-box">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>