<div class="confirm-page-wrapper">
	<div class="container">
		<div class="row no-margin">
			<div class="col-md-12 col-sm-12 col-xs-12 static-page-header">
				<div class="col-xs-6 no-padding">
					<h3 class="static-page-title">Confirm</h3>
				</div>
				<div class="col-xs-6">
					<a class="no-decoration" href="/"><h5 class="back-to-shop">Back to shop<i class="my-arrow glyphicon glyphicon-chevron-right"></i></h5></a>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 static-page-content">
				<form role="form" ng-submit="SubmitOrder(PaymentMethod,'/thankyou')">
					<div class="col-md-8 col-sm-12 col-xs-12 confirm-page-form">
						<div class="col-md-5 col-sm-6 col-xs-12 confirm-info-section">
							<h4 class="account-heading text-bold">YOUR INFORMATION</h4>
							
							<div class="form-group">
								<label for="exampleInputEmail1">First Name</label>
								<input required type="text" pattern="^[a-zA-Z]+$"  title="Enter First Name" ng-model="Customer.FirstName" placeholder="Enter First Name" class="form-control" id="exampleInputEmail1">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Last Name</label>
								<input required type="text"  pattern="^[a-zA-Z]+$"  title="Enter Last Name" ng-model="Customer.LastName" placeholder="Enter Last Name"  class="form-control" id="exampleInputEmail1">
							</div>
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input  ng-model="Customer.Email" placeholder="Enter Email Address" required type="email" class="form-control" id="exampleInputEmail1">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Callback Phone:</label>
								<input required type="tel"  title="Enter Number" ng-model="Customer.Phone" placeholder="Enter Phone Number" class="form-control" id="exampleInputPassword1" placeholder="Phone">
							</div>
							
							<!-- <h6><i class="glyphicon glyphicon-stop"></i>Create An Account For Later Use</h6>
							<div class="form-group">
									<label for="exampleInputEmail1">Password:</label>
									<input type="password" class="form-control" id="exampleInputpassword1" placeholder="Enter password">
							</div>
							<div class="form-group">
									<label for="exampleInputPassword1">Retype Password:</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Retype Password">
							</div> -->
							
						</div>
						<div class="col-md-7 col-sm-6 col-xs-12 confirm-ship-section">
							<div class="guest-row">
								<h5 class="account-heading text-bold">SHIPPING</h5>
								<div class="form-group">
									<label for="exampleInputPassword1">Shipping Address:</label>
									<textarea required ng-model="Customer.Address" placeholder="Enter  Address" required class="form-control" rows="3"></textarea>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 no-padding form-group">
									<label for="exampleInputEmail1">Shipping Country:</label>
									<input required ng-model="Customer.Country" type="text" class="form-control">
								</div>
								<div class="col-md-5 col-md-offset-1 col-sm-12 col-xs-12 no-padding form-group">
									<label for="exampleInputEmail1">Shipping City:</label>
									<input required ng-model="Customer.City" type="text" class="form-control">
								</div>
							</div>
							<div class="guest-row">
								<h6 class="account-heading text-bold">PAYMENT METHOD</h6>
								<span class="text-bold">{{PaymentMethod}}</span>
								<i>Please keep cash ready or any description that goes with these options.</i>
								<h6 class="text-bold" style="margin-bottom: 2px;">NEARBY OUTLET</h6>
								<span>{{User.info.outletName}}</span>
								<span>{{User.info.CountryName}}</span>
								<!-- <h6><i class="glyphicon glyphicon-stop padding-top"></i>Signup for our newsletter</h6> -->
							</div>
							
							
							
						</div>
						
					</div>
					<div class="col-md-4 col-sm-12 col-xs-12 sidebar-content-page">
						
						<div class="place-order-box">
							<div class="table-responsive">
								<table class="table table-striped">
									
									<h4 class="text-bold" style="padding-left: 7px;">YOUR ORDER</h4>
									
									<tbody  ng-repeat="(keyMain,Itemss) in Cart track by $index">
										<tr ng-if="!IfCart()">
											<td><p  class="text-center add-items">Please add items</p></td>
											<td></td>
											<td></td>
										</tr>
										<tr ng-show="Itemss.productID">
											<td>
												<span class="text-bold">{{Itemss.productInfo.productName}}</span>
												
											</td>
											<td><span class="text-bold" style="text-align: center;">{{Itemss.quantity}}</span></td>
											<td><span class="text-bold">{{Itemss.price * Itemss.quantity | nfcurrency:"PKR "}}</span></td>
										</tr>
										<tr ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index">
											<td>
												<span class="text-bold">{{itm.productInfo.productName}}</span>
												<span>{{key}}</span>
											</td>
											<td><span class="text-bold" style="text-align: center;">{{itm.quantity}}</span></td>
											<td><span class="text-bold">{{itm.price * itm.quantity | nfcurrency:"PKR "}}</span></td>
										</tr>
										
									</tbody>
									<tbody class="confirm-total-section">
										<tr>
											<td style="width:2%;"></td>
											<td><span class="text-bold">Food & Drinks</span>
												<span class="text-bold" ng-if="ReturnTaxPrice()">Taxes</span>
												<span class="text-bold">Order Total</span>
											</td>
											<td>
												<span class="text-bold">{{ReturnTotal()-ReturnTaxPrice() | nfcurrency:"PKR "}}</span>
												<span class="text-bold" ng-if="ReturnTaxPrice()">{{ReturnTaxPrice() | nfcurrency:"PKR "}}</span>
												<span class="text-bold">{{ReturnTotal() | nfcurrency:"PKR "}}</span>
											</td>
										</tr>
									</tbody>
									
									
									
								</table>
								<div class="clearfix"></div>
								
								
								
								
							</div>
							<button type="submit" class="btn btn-default active-btn" style="margin-top:90px;">PLACE ORDER</button>
						</div>
						
					</div>
				</form>
			</div>
			
		</div>
	</div>
</div>