<div class="signup-page-wrapper">
	<div class="container">
		<div class="row no-margin" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled' && ResetPasswordEmail != true">
			<div class="col-md-12 col-sm-12 col-xs-12 signup-content" >
				
				<div class="col-md-8 col-sm-12 col-xs-12">
					<h4 class="text-left">FORGOT PASSWORD</h4>
					<p class="text-left">If you have forgotten your password.Enter your email address and we will send you an email telling you how to recover it.</p>
					
					
					
					<form class="form-horizontal" role="form" ng-submit="ForgotPassword('login')">
						
						<div class="form-group">
							
							<div class="col-sm-8">
								<input type="email" ng-model="Customer.forgotEmail" class="form-control" id="inputEmail3" placeholder="Email">
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-default black-btn">RESET PASSWORD</button>
							</div>
						</div>
						<div  ng-show="invalidEmail" class="alert alert-danger" role="alert">Please enter valid Email address</div>
						<div  ng-show="ResetPasswordEmail == true" class="alert alert-danger" role="alert">Email sent. Please check your email for password reset instructions.</div>
					</form>
					
				</div>
				
				
				
			</div>
		</div>
		
	</div>
</div>