<div class="home-body-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 main-banner-img">
				<a href="{{ThemeSettings.theme_settings.slide_1_link}}" class="thumbnail" ng-if="ThemeSettings.theme_settings.slide_1_img">
					<img ng-src="{{ThemeSettings.theme_settings.slide_1_img}}" alt="...">
				</a>

				<a href="{{ThemeSettings.theme_settings.slide_1_link}}" class="thumbnail" ng-if="!ThemeSettings.theme_settings.slide_1_img">
					<img ng-src="http://placehold.it/700x510/666666" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 side-banner-imgs">
				<a href="{{ThemeSettings.theme_settings.slide_2_link}}" class="thumbnail" ng-if="ThemeSettings.theme_settings.slide_2_img">
					<img ng-src="{{ThemeSettings.theme_settings.slide_2_img}}" alt="...">
				</a>

				<a href="{{ThemeSettings.theme_settings.slide_2_link}}" class="thumbnail" ng-if="!ThemeSettings.theme_settings.slide_2_img">
					<img ng-src="http://placehold.it/220x225/666666" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 side-banner-imgs">	
				<a href="{{ThemeSettings.theme_settings.slide_3_link}}" class="thumbnail" ng-if="ThemeSettings.theme_settings.slide_3_img">
					<img ng-src="{{ThemeSettings.theme_settings.slide_3_img}}" alt="...">
				</a>

				<a href="{{ThemeSettings.theme_settings.slide_3_link}}" class="thumbnail" ng-if="!ThemeSettings.theme_settings.slide_3_img">
					<img ng-src="http://placehold.it/220x225/666666" alt="...">
				</a>
			</div>

			<div class="col-xs-12 col-sm-12 col-md-12 col-md-12">	
				<a href="{{ThemeSettings.theme_settings.slide_4_link}}" class="thumbnail" ng-if="ThemeSettings.theme_settings.slide_4_img">
					<img ng-src="{{ThemeSettings.theme_settings.slide_4_img}}" alt="...">
				</a>

				<a href="{{ThemeSettings.theme_settings.slide_4_link}}" class="thumbnail" ng-if="!ThemeSettings.theme_settings.slide_3_img">
					<img ng-src="http://placehold.it/940x140/666666" alt="...">
				</a>
			</div>
			
		</div>
	</div>
</div>
