<div class="location-page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12 static-page-header">
				<div class="col-xs-6">
					<h3 class="static-page-title">Locations</h3>
				</div>
				<div class="col-xs-6">
					<a class="no-decoration" href="/"><h5 class="back-to-shop">Back to shop<i class="my-arrow glyphicon glyphicon-chevron-right"></i></h5></a>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 static-page-content">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div id="map"><iframe  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ca/maps?hl=en&amp;client=safari&amp;q=Mausummery+Lawn&amp;ie=UTF8&amp;hq=&amp;hnear=33+Victoria+St,+Toronto,+Ontario+M5C+3A1&amp;gl=ca&amp;t=m&amp;ll=31.52134,74.35099&amp;spn=0.696882,2.526855&amp;z=9&amp;iwloc=A&amp;output=embed"></iframe>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 sidebar-content-page">
					
					<div class="store-location-box">
						<h4><i class="glyphicon glyphicon-map-marker"></i>Store Locations</h4>
						<div class="store-location-address" ng-repeat="Location in ListSettingsLocation">
							<h5 class="store-name text-bold">{{Location.Name}}</h5>
							<p class="store-address-details">{{Location.Address}}</p>
						</div>
						

						<h5 class="store-location-phone"><i class="glyphicon glyphicon-phone-alt"></i>{{SettingGeneral.phone}}</h5>

						<h5 class="store-location-email"><i class="glyphicon glyphicon-envelope"></i>{{SettingGeneral.contactEmail}}</h5>
						
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
	
</div>