<div class="signup-page-wrapper">
	<div class="container">
		<div class="row no-margin">
			<div class="col-md-12 col-sm-12 col-xs-12 signup-content">
				
				<div class="col-md-6 col-sm-12 col-xs-12 login-block"  ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled != 'disabled'">
					<h4 class="text-left text-bold">I'M ALREADY REGISTERED</h4>
					<p class="text-left">Enter your email address and password to login.</p>
					
					
					<form ng-submit="CheckLogin('cart')" class="form-horizontal" role="form">
						
						<div class="form-group">
							
							<div class="col-sm-12">
								<input ng-model="Customer.email" type="email" class="form-control" id="inputEmail3" placeholder="Email" required>
							</div>
						</div>
						<div class="form-group">
							
							<div class="col-sm-12">
								<input type="Password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="Customer.password" required>
							</div>
						</div>
						
						
						<div class="form-group">
							<div class="col-sm-5 col-xs-7">
								<button type="submit" class="btn btn-default black-btn">LOGIN</button>
							</div>
							<div class="col-sm-7 col-xs-5 text-right">
								<a href="/forgot_password" class="forgot-password-link">Forgot Password?</a>
							</div>
						</div>
						<div id="error" class="alert alert-danger" role="alert" style="display:none;">Please enter valid login info</div>
					</form>
					
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12 guest-block" ng-if="!User.info.CustomerEmail && (ListPaymentGateways.accountsDisabled != 'required' || ListPaymentGateways.accountsDisabled == 'optional')">
					<div class="col-md-12 col-sm-12 col-xs-12 guest-row">
						
						
						<h4 class="text-left text-bold">CONTINUE AS A GUEST</h4>
						<p class="text-left">You can still place order without creating an account</p>
						<div class="form-group">
							<div class="col-sm-6 no-padding">
								<button ng-click="GuestLogin('confirm')" class="btn btn-default active-btn">Order as Guest</button>
							</div>
						</div>
						
					</div>
					<div class=" col-md-12 col-sm-12 col-xs-12 guest-row" ng-if="!User.info.CustomerEmail && (ListPaymentGateways.accountsDisabled != 'disabled' || ListPaymentGateways.accountsDisabled == 'optional')">
						
						
						<h4 class="text-left text-bold">NEW CUSTOMERS</h4>
						<p class="text-left">If you still dont have an account, use this option to access the registration form.</p>
						<p class="text-left">By giving your details,purchasing will be a faster and enjoyable experience.</p>
						<div class="form-group">
							<div class="col-sm-6  no-padding">
								<a href="./signup">
									<button  class="btn btn-default black-btn">CREATE NEW ACCOUNT</button>
								</a>
							</div>
						</div>
					</div>
				</div>
				
				
				
			</div>
		</div>
		
	</div>
</div>