<div class="static-page-wrapper">
	<div class="container" ng-init="InitPage()">
		<div class="row" ng-repeat="page in ListPage | CustomFilter:{pageUrl : routeParam}">
			<div class="col-md-12 col-sm-12 col-xs-12 static-page-header">
				<div class="col-xs-6">
					<h3 class="static-page-title"> {{page.pageName}} Page</h3>
				</div>
				<div class="col-xs-6">
					<h5 class="back-to-shop">Back to shop<i class="my-arrow glyphicon glyphicon-chevron-right"></i></h5>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 static-page-content">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<h5 class="text-left" ng-bind-html="page.pageDescription"></h5>
					<!-- <p class="text-left" ></p> -->
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 sidebar-content-page">
					<div class="search-box">
						<form class="navbar-form" role="search">
							<div class="input-group">
								<input type="text" class="form-control standard-input" placeholder="Search" name="srch-term" id="srch-term">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
								</div>
							</div>
						</form>
					</div>
					<div class="menu-box">
						<ul class="nav nav-pills menu-list" ng-repeat="Navigation in ListNavigation | filter : 'page-list'">
							<li role="presentation" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path() == '/'}" ng-show="Nav.optionSelected == 'frontpage'"><i class="menu-icon glyphicon glyphicon-hand-right"></i><a href="/">{{Nav.name}}</a></li>
							<li role="presentation" ng-repeat="Nav in Navigation.link_list"   ng-show="Nav.commaSeprated"><i class="menu-icon glyphicon glyphicon-hand-right"></i><a href="{{Nav.commaSeprated}}">{{Nav.name}}</a></li>
							<li role="presentation" ng-repeat="Nav in Navigation.link_list"   ng-show="Nav.http"><i class="menu-icon glyphicon glyphicon-hand-right"></i><a href="{{Nav.http}}">{{Nav.name}}</a></li>
							
						</ul>
						
					</div>
					
				</div>
			</div>
			
		</div>
		
	</div>
</div>