<div class="product-page-wrapper">
	<div class="container" ng-init="InitProduct();">
		<div class="row product-wrapper" ng-repeat="(prodID,product) in ListProduct | CustomFilter:{productUrl : routeParam}">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h3 class="col-md-11 col-sm-11 col-xs-10 product-name">{{product.productName}}</h3>
				<a class="col-md-1 col-sm-1 col-xs-2 close-btn close" ng-click="postcollection();"><span>×</span></a>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-4 col-sm-12 col-xs-12 visual-model">
					<img ng-if="product.productImage[0].Image" ng-src="{{product.productImage[0].Image}}" alt="..." style="width: 100%;">

					<img ng-if="!product.productImage[0].Image" ng-src="http://placehold.it/300x260/666666" alt="..." style="width: 100%;">
					<p class="text-left product-description" ng-bind-html="product.productDescription"></p>
				</div>
				
				
				<form role="form" ng-init="product.productVarientModel = {};" ng-submit="addToCart(product.id,product);postcollection();cartRedirect();">
					<div class="col-md-8 col-sm-12 col-xs-12 variants-box" ng-if="product.productMultiOptions">
						<div class="variants-model">
							<h3 class="variants-model-heading">Serving Options</h3>
							<div class="col-md-12 col-sm-12  col-xs-12 multiple-variants no-padding" ng-repeat="valueSize in product.productMultiOptionsList">
								<h5>Select {{valueSize.name}}</h5>
								<label class="col-md-4 col-sm-4 col-xs-12 no-padding" ng-repeat="parms in valueSize.value" ng-class="{'deactivate':RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)}" class="checkbox-inline variants-checkbox">
									<input ng-checked="product.productVarientModel[valueSize.name] == parms" ng-click="ResetVariendsModelBase(valueSize.name,parms,product.productVarientModel,product.Index)" class="attributes_{{product.Index}}" ng-disabled="RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)" type="checkbox" value="{{parms}}" required type="checkbox" id="inlineCheckbox1" style="float: left;margin-right: 4px;">{{parms}}
								</label>
								
								
							</div>
							
						</div>
						
					</div>
					
					<div class="col-md-2 col-sm-4 col-xs-6 margin-top-product">
						<strong ng-if="!product.productMultiOptions" class="text-left product-price">{{product.productPrice | nfcurrency:"PKR "}}</strong>

						<strong ng-if="product.productMultiOptions && returnPrice(product) <= 0" class="text-left product-price">{{product.productPrice | nfcurrency:"PKR "}}</strong>

						<strong ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 " class="text-left product-price">{{product.productPrice | nfcurrency:"PKR "}}</strong>
						<strike class="compare-price">PKR 220</strike>
					</div>
					<div class="col-md-3 col-sm-3 col-xs-6 margin-top-product">
						<span class="text-left quantity-box">Quantity:</span><select class="product-select-box" min="1" ng-model="product.productQuantity" type="number">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<div class="col-md-3 col-sm-5 col-xs-12 margin-top-product">
						<button ng-if="!product.productMultiOptions" type="submit" class="btn btn-default active-btn"><i class="glyphicon glyphicon-shopping-cart"></i>ADD TO BAG</button>

						<button ng-if="product.productMultiOptions" type="submit" class="btn btn-default active-btn"><i class="glyphicon glyphicon-shopping-cart"></i>ADD TO BAG</button>
					</div>
					
					
				</form>
				
			</div>
			
		</div>
		
	</div>
</div>