<div class="signup-page-wrapper">
	<div class="container">
		<div class="row no-margin" ng-init="checkResetPasswordFlag()" ng-if="issetPasswordResetFlag == false">
			<div class="col-md-12 col-sm-12 col-xs-12 signup-content" ng-if="!User.info.CustomerEmail && ListPaymentGateways.accountsDisabled == 'optional' && ResetPasswordMessage!= true && issetPasswordResetFlag!= true">
				
				<div class="col-md-8 col-sm-12 col-xs-12">
					<h4 class="text-left">RESET PASSWORD</h4>
					
					<form class="form-horizontal" role="form" ng-submit="ForgotPassword('login')">
						
						<div class="form-group">
							
							<div class="col-sm-8">
								<input type="password" id="Password" placeholder="New Password" name="Password"  ng-model="Customer.NewPassword" maxlength="40" class="form-control" id="inputEmail3" required>
							</div>
						</div>
						<div class="form-group">
							
							<div class="col-sm-8">
								<input type="password" placeholder="Confirm Password" oninput="check(this)"  ng-model="Customer.ConfirmNewPassword"  required class="form-control" id="inputEmail3" placeholder="Confirm Password">
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-default black-btn">RESET PASSWORD</button>
							</div>
						</div>
						<div  ng-show="issetPasswordResetFlag == true" class="alert alert-danger" role="alert"> Your password reset link has been expired. Please send another request for password recovery.</div>
						<div  ng-if="issetPasswordResetFlag != false" class="alert alert-danger" role="alert">Link Expired.</div>
						
					</form>
					
				</div>
			</div>
		</div>
		<div class="row no-margin" ng-if="User.info.CustomerEmail && !User.info.GuestAuth  && !ResetPasswordDone">
			<div class="col-md-12 col-sm-12 col-xs-12 signup-content">
				
				<div class="col-md-8 col-sm-12 col-xs-12">
					<h4 class="text-left">RESET PASSWORD</h4>
					
					<form class="form-horizontal" role="form" ng-submit="ResetPassword('/')">
						
						<div class="form-group">
							
							<div class="col-sm-8">
								<input required type="password"  placeholder="Old Password" name="Password"  ng-model="Customer.OldPassword" maxlength="40" class="form-control" id="inputEmail3">
							</div>
						</div>
						<div class="form-group">
							
							<div class="col-sm-8">
								<input required type="password" id="Password" placeholder="New Password" name="Password"  ng-model="Customer.NewPassword" maxlength="40" class="form-control" id="inputEmail3">
							</div>
						</div>
						<div class="form-group">
							
							<div class="col-sm-8">
								<input required type="password" placeholder="Confirm New Password" oninput="check(this)"  ng-model="Customer.ConfirmNewPassword"  required class="form-control" id="inputEmail3" placeholder="Confirm Password">
							</div>
						</div>
						
						<div class="form-group">
							<div class="col-sm-4">
								<button type="submit" class="btn btn-default black-btn">RESET PASSWORD</button>
							</div>
						</div>
						
						
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>