<div class="signup-page-wrapper">
	<div class="container">
		<div class="row no-margin">
			<div class="col-md-12 col-sm-12 col-xs-12 signup-content">
				
				<div class="col-md-8 col-sm-12 col-xs-12">
					<h4 class="text-left text-bold">CREATE ACCOUNT</h4>
					<p class="text-left">Fill out the following form in order to register.Existing customer.&nbsp;<a href="/login">Sign In Here</a></p>
					<p class="text-left">We will save the details you provide in order to facililate your purchase on the website.</p>
					
					<form class="form-horizontal"  role="form" ng-submit="SignUp('cart')">
						<h4 class="account-heading text-bold">USER ACCOUNT</h4>
						<div class="form-group">
							<label for="inputEmail3" class="text-left col-sm-4 control-label">EMAIL</label>
							<div class="col-sm-8">
								<input required ng-model="Customer.Email" type="email" class="form-control" id="inputEmail3" placeholder="Email">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="text-left col-sm-4 control-label">PASSWORD</label>
							<div class="col-sm-8">
								<input required ng-model="Customer.Password" type="password" class="form-control" id="Password" placeholder="Password">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="text-left col-sm-4 control-label">REPEAT PASSWORD</label>
							<div class="col-sm-8">
								<input required type="password" class="form-control" id="inputPassword3" placeholder="Repeat Password" oninput="check(this)">
							</div>
						</div>
						
						
						<h4 class="account-heading text-bold">CONTACT DETAILS</h4>
						<div class="form-group">
							<label for="inputEmail3" class="text-left col-sm-4 control-label">NAME</label>
							<div class="col-sm-8">
								<input required ng-model="Customer.FirstName" type="text" class="form-control" id="inputName3" placeholder="Name">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="text-left col-sm-4 control-label">TELEPHONE</label>
							<div class="col-sm-8">
								<input required type="tel" pattern="[0-9]" ng-model="Customer.Phone" class="form-control" id="inputPassword3" placeholder="Telephone">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="text-left col-sm-4 control-label">ADDRESS</label>
							<div class="col-sm-8">
								<input required ng-model="Customer.Address" type="address" class="form-control" id="inputPassword3" placeholder="Address">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="text-left col-sm-4 control-label">POSTAL CODE</label>
							<div class="col-sm-8">
								<input type="number" class="form-control" id="inputPassword3" placeholder="Postal code">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="text-left col-sm-4 control-label">CITY</label>
							<div class="col-sm-8">
								<input required ng-model="Customer.City" type="text" class="form-control" id="inputPassword3" placeholder="City">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="text-left col-sm-4 control-label">COUNTRY</label>
							<div class="col-sm-8">
								<input required ng-model="Customer.Country" type="text" class="form-control" id="inputPassword3" placeholder="Country">
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-5">
								<button type="submit" class="btn btn-default black-btn">Create Account</button>
							</div>
						</div>

						<div  ng-if="DuplicateEmailError" class="alert alert-danger" role="alert" style="display:none;">Email address already exits in our system</div>
					</form>
					
				</div>
				
				
				
			</div>
		</div>
		
	</div>
</div>