<div class="confirm-page-wrapper">
	<div class="container">
		<div class="row no-margin">
			<div class="col-md-12 col-sm-12 col-xs-12 static-page-header">
				<div class="col-xs-6 no-padding">
					<h3 class="static-page-title">Confirm</h3>
				</div>
				<div class="col-xs-6">
					<h5 class="back-to-shop">Back to shop<i class="my-arrow glyphicon glyphicon-chevron-right"></i></h5>
				</div>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12 thankyou-content">
				<div class="col-md-8 col-sm-12 col-xs-12 thankyou-page-content">
					<h4>THANK YOU FOR YOUR ORDER</h4>
					<h6>ORDER # {{SettingGeneral.settings.order_number_format}}{{OrderInfo.orderid}} WAS SUCCESSFULLY PLACED.</h6>
					<p>You should shortly receive a confirmation email containing your order details</p>
					
					<div class="form-group" style="display:inline-block;">
						<div class="col-sm-3 no-padding">
							<a href="/">
								<button type="submit" class="btn btn-default">Return to Home</button>
							</a>
						</div>
					</div>
					<div class="form-group" style="display:inline-block;">
						<div class="col-sm-5 no-padding-xs">
							<button type="submit" class="btn btn-default">Rate your Experience</button>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 sidebar-content-page thankyou-sidebar">
					<div class="thankyou-social-box">
						<ul class="col-xs-4 col-sm-4 col-md-2 nav nav-pills">
							<li role="presentation" class="social-menu"><a href="#">Facebook</a></li>
							<li role="presentation" class="social-menu"><a href="#">Twitter</a></li>
						</ul>
					</div>
					
					
				</div>
				
			</div>
		</div>
	</div>