<html ng-app="aeCommerce" ng-controller="AECtrl">
  <head>
   <meta name="fragment" content="!">
<<<<<<< HEAD
   <meta charset="utf-8"> 
=======
    <%- requireServerVars(data) %>
>>>>>>> 6733c13acf4ae946ddd9e70973ca03e4c1edff5e
    <link rel="icon" type="image/vnd.microsoft.icon" ng-if="ThemeSettings.theme_settings.favicon" href="{{ThemeSettings.theme_settings.favicon}}"/>
    <base href="/">
    
<!-- Theme CSS -->

<link href="<%= BaseUrl %>css/theme/bootstrap.min.css" rel="stylesheet">
<link href="<%= BaseUrl %>css/theme/style.css" rel="stylesheet">


	 <title ng-bind="title">
                 <%= unescape(title) %>
              </title>
		<% if (typeof(meta) != "undefined") { %>
			  <% for (var metaItem in meta) { %>
			  <% if (meta[metaItem] && metaItem) { %>
				<meta name="<%= metaItem %>" content="<%= meta[metaItem] %>" />
				<% } %>
				<% } %>
          <% } %>
		  <% if (typeof(og) != "undefined") { %>
			  <% for (var ogItem in og) { %>
			   <% if (og[ogItem] && ogItem) { %>
				<meta property="<%= ogItem %>" content="<%= og[ogItem] %>" />
				<% } %>
				<% } %>
          <% } %>
             
			 
			     <% include header_resources %>
				
              </head>
              <body id="index">
			  <div id='loadingbar'></div>
			  <div id="loader" class="inline-loaders" style="display:none;">
                        <img id="loader-img" ng-src="<%= BaseUrl %>img/theme/preloader.gif" style="">
                  </div>
				<div class="loading_container" style="display:none;">
               	 <div id="page">
	
	<!-- HEADER -->
		<header>
			
			<!-- TOP INFO -->
			<div class="top_info">
				
				<!-- CONTAINER -->
				<div class="container clearfix">
					<ul class="secondary_menu">

						<li ng-if="!User.info.CustomerEmail"><a href="/login" >Login</a></li>
						<li ng-if="!User.info.CustomerEmail  && ListPaymentGateways.accountsDisabled == 'optional'" style="padding-left: 6px;"><a href="/signup" >Create Account</a></li>
						<li ng-if="User.info.CustomerEmail"><a href="javascript:void(0)">Welcome {{User.info.CustomerFirstName}}</a></li>
						<li ng-if="User.info.CustomerEmail && !User.info.GuestAuth"><a  href="/account_info" style="padding-left: 8px;"> My Account</a></li>
						<li ng-if="User.info.CustomerEmail && !User.info.GuestAuth" style="padding-left: 8px;"><a ng-click="Logout()">Sign Out</a>
						</li>
						<li ng-if="User.info.CustomerEmail && User.info.GuestAuth" style="padding-left: 8px;"><a  ng-click="Logout('signup')">Register now</a></li>
					
						
					</ul>					
					
					<div ng-if="SettingGeneral.phone" class="phone_top">have a question? <a href="">{{SettingGeneral.phone}}</a></div>
				</div><!-- //CONTAINER -->
			</div><!-- TOP INFO -->
			
			
			<!-- MENU BLOCK -->
			<div class="menu_block">
			
				<!-- CONTAINER -->
				<div class="container clearfix">
					
					<!-- LOGO -->
					<div class="logo">
						<a href="/" ><img width="120" height="28" ng-src="{{ThemeSettings.theme_settings.logo_img}}" alt="" /></a>
					</div><!-- //LOGO -->
					
					
					<!-- SEARCH FORM -->
					<!-- <div class="top_search_form">
						<a class="top_search_btn" href="javascript:void(0);" ><i class="fa fa-search"></i></a>
						<form method="get" action="#">
							<input type="text" name="search" value="Search" onFocus="if (this.value == 'Search') this.value = '';" onBlur="if (this.value == '') this.value = 'Search';" />
						</form>
					</div> --><!-- SEARCH FORM -->
					
					
					
					<!-- SHOPPING BAG -->
					<div class="shopping_bag">
						<a class="shopping_bag_btn" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i><p>shopping bag</p><span ng-if="IfCart()">{{ReturnItems()}}</span><span ng-if="!IfCart()" style="background-color: rgb(75, 71, 71);">0</span></a>
						<div class="cart" ng-if="!IfCart()">
						<ul  class="cart-items">
								<li>Cart is empty</li>
							</ul>

						</div>
						<div class="cart" ng-show="IfCart()">

							<ul class="cart-items" ng-repeat="(keyMain,Itemss) in Cart track by $index">
								<li class="clearfix" ng-show="Itemss.productID">
									<img  ng-if="Itemss.productInfo.productImage[0].Image" class="cart_item_product" ng-src="{{Itemss.productInfo.productImage[0].Image}}" alt="" />
									
									<a href="/product/{{Itemss.productInfo.productUrl}}" class="cart_item_title">{{Itemss.productInfo.productName | cut:true:60:' ...'}}</a>
									<span class="cart_item_price">{{Itemss.quantity}}  × {{Itemss.price | nfcurrency:SettingGeneral.settings.currencies_format+' '}} </span>
									
                                    <span class="remove" ng-click="RemoveCartItem(Itemss.productID,false)">Remove</span>
								</li>
								<li class="clearfix" ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index">
									<img ng-if="itm.productInfo.productImage[0].Image" class="cart_item_product" ng-src="{{itm.productInfo.productImage[0].Image}}" alt="" />
									
									<a href="/product/{{itm.productInfo.productUrl}}" class="cart_item_title">{{itm.productInfo.productName | cut:true:60:' ...'}}</a>
									<span class="cart_item_price">{{itm.quantity}}  × {{itm.price | nfcurrency:SettingGeneral.settings.currencies_format+' '}} </span>
									<span class="remove" ng-click="RemoveCartItem(itm.productID,key)">Remove</span>
								</li>
							
							</ul>
							<div class="cart_total" ng-show="IfCart()">
								<!-- <div class="clearfix"><span class="cart_subtotal">total:<b>{{ReturnTotal()- ReturnTaxPrice()| currency:SettingGeneral.settings.currencies_format+' '}}</b></span></div>
								
								<div class="clearfix border-cart-navigation" ng-if="SettingsShippingCountry[0].TaxRate"><span class="cart_subtotal">tax:<b>{{ReturnTaxPrice()| currency:SettingGeneral.settings.currencies_format+' '}}</b></span></div> -->
								<div class="clearfix"><span class="cart_subtotal">subtotal:<b>{{ReturnTotal() | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</b></span></div>
								

								<a class="btn active" href="/cart">Checkout</a>
							</div>
						</div>
						
					</div><!-- //SHOPPING BAG -->
					<!-- MENU -->
					<ul class="navmenu center" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'">
					
						<li class="sub-menu" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path() == '/'}" ng-show="Nav.optionSelected == 'frontpage'">
                                      <a href="/"  >
                                        {{Nav.name}}
                                      </a>

                         </li>
						<li class="sub-menu" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated">
                                      <a href="{{Nav.commaSeprated}}"  >
                                        {{Nav.name}}
                                      </a>

                                    </li>
                                    <li class="sub-menu" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.http}}') >= 0}" ng-show="Nav.http">
                                      <a href="{{Nav.http}}" target="_blank"  >
                                        {{Nav.name}}
                                      </a>
                                    </li>
						
					</ul><!-- //MENU -->

					<!-- MENU -->
					<ul class="navmenuu center hidden-xs hidden-sm" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'">
					
						<li class="sub-menu" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path() == '/'}" ng-show="Nav.optionSelected == 'frontpage'">
                                      <a href="/"  >
                                        {{Nav.name}}
                                      </a>

                         </li>
						<li class="sub-menu" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated">
                                      <a href="{{Nav.commaSeprated}}"  >
                                        {{Nav.name}}
                                      </a>

                                    </li>
                                    <li class="sub-menu" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.http}}') >= 0}" ng-show="Nav.http">
                                      <a href="{{Nav.http}}" target="_blank"  >
                                        {{Nav.name}}
                                      </a>
                                    </li>
						
					</ul><!-- //MENU -->
					
					
				</div><!-- //MENU BLOCK -->
			</div><!-- //CONTAINER -->
			
		</header><!-- //HEADER -->
	</div>	
<script type="text/javascript">

jQuery('.shopping_bag .cart').hide();
/* Sticky */
jQuery(window).load(function(){
	if (jQuery(window).width() >= 200){
		jQuery(".menu_block").sticky({ topSpacing: 0 });
	}
});

//MobileMenu
$(document).ready(function() {
	if ($(window).width() < 993){
		$('.menu_block .container').prepend('<a href="javascript:void(0)" class="menu_toggler"><i class="fa fa-align-justify"></i></a>');
		
		$('.menu_toggler, .navmenu ul li a').click(function(){
			$('header .navmenu').slideToggle(300);
		});
		
		$(".navmenu").before('<div class="clear"></div>');
	}

});

$('header .navmenu').fadeOut();

</script>