<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!--Jquery Library-->
<script type="text/javascript" src="<%= BaseUrl %>js/lib/theme/jquery-2.0.3.min.js"></script>

<!--Angular Resources-->
<script type="text/javascript" src="<%= BaseUrl %>js/lib/angular/angular.min.js"></script>
<script type="text/javascript" src="<%= BaseUrl %>js/module.js"></script>
<script type="text/javascript" src="<%= BaseUrl %>js/lib/angular/angular-slider.min.js"></script>

<!--Azure Sdk-->
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/mobileservices/MobileServices.Web-1.2.5.min.js"></script>
<script type="text/javascript" src="//<%= ServiceName %>.azurewebsites.net/frontend/js/lib/azure/azure.js"></script>
<script type="text/javascript" src="//<%= ServiceName %>.azurewebsites.net/frontend/js/lib/azure/ae-sdk.js"></script>
<!--<script type="text/javascript" src="/themes/route2health/1413286603877/base/js/ae-sdk.js"></script>-->


<!--Theme Resources Angular JS-->
<script type="text/javascript" src="<%= BaseUrl %>js/controllers/global.js"></script>
<!--Moment JS-->
<!--<script type="text/javascript" src="<%= BaseUrl %>js/lib/theme/moment.min.js"></script>-->



