<html ng-app="aeCommerce" ng-controller="AECtrl">
<head>
	<%- requireServerVars(data) %>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="fragment" content="!">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<base href="/">
	<link rel="icon" type="image/vnd.microsoft.icon" ng-if="ThemeSettings.theme_settings.favicon" href="{{ThemeSettings.theme_settings.favicon}}"/>

	<link ng-href="<%= BaseUrl %>css/theme/style.css" rel="stylesheet"> 
	<link ng-href="<%= BaseUrl %>css/theme/screen.css" rel="stylesheet">
	<!--Jquery Library-->
	<script type="text/javascript" src="<%= BaseUrl %>js/lib/theme/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="<%= BaseUrl %>js/customjs/moment.min.js"></script>


	<!--Angular Resources-->
	<script type="text/javascript" src="<%= BaseUrl %>js/lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="<%= BaseUrl %>js/module.js"></script>


	<!--Azure Sdk-->
	<script type="text/javascript" src="//fishry.azurewebsites.net/frontend/js/lib/azure/MobileServices.Web-1.0.0.min.js"></script>
	<script type="text/javascript" src="//fishry.azurewebsites.net/frontend/js/lib/azure/azure.js"></script>
	<script type="text/javascript" src="//fishry.azurewebsites.net/frontend/js/lib/azure/ae-sdk.js"></script>

	<!--Theme Resources Angular JS-->
	<script type="text/javascript" src="<%= BaseUrl %>js/controllers/global.js"></script>
	<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="<%= BaseUrl %>js/lib/theme/ui-bootstrap-tpls-0.10.0.min.js"></script>



	
	<title ng-bind="title">
		<%= unescape(title) %>
	</title>
	<% if (typeof(meta) != "undefined") { %>
	<% for (var metaItem in meta) { %>
	<% if (meta[metaItem] && metaItem) { %>
	<meta name="<%= metaItem %>" content="<%= meta[metaItem] %>" />
	<% } %>
	<% } %>
	<% } %>
	<% if (typeof(og) != "undefined") { %>
	<% for (var ogItem in og) { %>
	<% if (og[ogItem] && ogItem) { %>
	<meta property="<%= ogItem %>" content="<%= og[ogItem] %>" />
	<% } %>
	<% } %>
	<% } %>
	
	
	
	<% include header_resources %>

	
</head>
<body id="index">
	<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion_async.js" charset="utf-8"></script>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<div id='loadingbar'></div>
	
	<div  class="container" style="display:none;">
		<div id="pageFrame">
			<div id="pageHeader"><!-- Page Header -->
				<div id="genericHeader">
					<div id="headerProfileContainer">
						<div class="headerProfile">
							<div class="js-changeLoginState" ng-if="User.info.CustomerEmail"><a href="" class="welcomeUser js-userName">Hi  {{User.info.CustomerFirstName}}&nbsp;&nbsp;</a><a href="/" class="notUser js-notUser" ng-if="User.info.CustomerEmail" href="javascript:void(0)" ng-click="Logout()" style="color: #0078ae;font-weight: bold;font-size: 11px;">Sign Out </a> <span ng-if="User.info.CustomerEmail && !User.info.GuestAuth" >-</span>
								<a class="notUser js-notUser" ng-if="User.info.CustomerEmail && !User.info.GuestAuth" href="/orders" style="color: #0078ae;font-weight: bold;font-size: 11px;">My Account</a>
							</div>
							<div class="js-changeLoginState" ng-if="!User.info.CustomerEmail"><a href="/login" class="signInLink" title="Sign In">Sign in</a> Don't have a Pizza Profile? <a href="/signup" class="createAccount js-createProfile" ng-if="!User.info.CustomerEmail" title="Create Your Profile">Create one</a></div> 
							<h3 style="color: #0078ae;font-family: DominosFont;font-weight: bold;margin-top: 20px;font-size: 20px;margin-right:27px;">Call us at {{SettingGeneral.phone}}</h3>
						</div>
						<div class="clr"><!-- --></div></div>
						
						<div ng-controller="GlobalCtrl" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'">
							<div class="mainNavigation">
								
								<span class="order" ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.commaSeprated" ng-controller="GlobalCtrl">
									<!-- <h1>{{$location.path()}}</h1><br /> -->							
									
									<a ng-class="{active: $location.path().indexOf('{{Nav.commaSeprated}}') >= 0 || ($index == 0 && ($location.path().indexOf('collections') > 0 && $location.path() != '/collections/menu' && $location.path() != '/collections/hot-deals'  || $location.path() == '/confirm' || $location.path() == '/thankyou'))}" href="{{Nav.commaSeprated}}" class="qa-Cl_order js-mBoxOOSwapHeader" id="{{Nav.name}}" ng-if="isAddress == false && $index == 0">{{Nav.name}}</a>

									<a ng-class="{active: $location.path().indexOf('{{Nav.commaSeprated}}') >= 0 || ($index == 0 && ($location.path().indexOf('collections') > 0 && $location.path() != '/collections/menu' && $location.path() != '/collections/hot-deals' || $location.path() == '/cart' || $location.path() == '/confirm' || $location.path() == '/thankyou'))}" href="/collections/all" class="qa-Cl_order js-mBoxOOSwapHeader" id="{{Nav.name}}" ng-if="isAddress == true && $index == 0">{{Nav.name}}</a>



									<a ng-class="{active: $location.path().indexOf('{{Nav.commaSeprated}}') >= 0 || ($index == 0 && ($location.path().indexOf('collections') > 0 && $location.path() != '/collections/menu' && $location.path() != '/collections/hot-deals'  || $location.path() == '/confirm' || $location.path() == '/thankyou'))}" href="{{Nav.commaSeprated}}" class="qa-Cl_order js-mBoxOOSwapHeader" id="{{Nav.name}}" ng-if="$index != 0">{{Nav.name}}</a>

								</span>

								<!-- <h3>{{$location.path()}}</h3> -->
							</div>						
						</div>
						<div class="clr"><!--  --></div>											
					</div>
				</div>
			</div><!-- Closes Page Header -->
