.invalid input:required:invalid {
    background: #BE4C54;
}
.invalid input:required:valid {
    background: #17D654;
}
body{
   overflow-x: hidden; 
}
input {
    display: block;
    margin-bottom: 10px;
}
a.no-decoration:hover{
   text-decoration: none; 
}
a.no-decoration{
    text-transform: capitalize;
}
.close-btn span{
    font-size: 18px;
}
.store-address span{
   display: inline-block; 
}
.hidden-nav{
    display: none;
    -webkit-transition: display 10s;
    -moz-transition: display 10s;
    transition:display 10s;
    
}
.visible-nav{
    display: block;
    -webkit-transition: display 10s;
    -moz-transition: display 10s;
    transition:display 10s;
    

}
.navbar-fixed-top .navbar-right{
    margin-right: 0;
}
.navbar-fixed-top .navbar-nav {
float: none;
margin: 0 auto;
display: inline-block;
vertical-align: top;
}
.navbar-fixed-top .navbar-collapse{
    text-align: center;
}
.navbar-fixed-top  .navbar-brand {
margin-top: -13px;
}
.navbar-fixed-top  .navbar-brand img {
width: 124px;
height: 46px;
}
.navbar-nav  li.active-cart a{
    color: #CC3333;
    border-bottom: none;
}
.navbar-nav  li.active-cart:hover a,.navbar-nav  li.active-cart:focus a{
    color: #CC3333;
    border-bottom: none;
}
.navbar-default .navbar-nav > li.active-cart > a:hover,
.navbar-default .navbar-nav > li.active-cart > a:focus{
    color: #CC3333;
    border-bottom: none;
} 
.login-menu {
    display: block;
    float: right;
    padding-top: 12px;
    cursor: pointer;
}
.login-menu li {
    float: right;
    font-size: 12px;
}
.login-menu li {
    border-right: 1px solid black;
    padding-right: 6px;
    padding-left: 6px;
}
.login-menu li:first-child {
    padding-right: 0px;
    border-right: none;
}
#header-wrapper {
    display: block;
    width: 100%;
    height: 82px;
}
.main-banner-img {
    max-height: 525px;
}
.side-banner-imgs a img {
    height: 244px;
}
.container-fluid.footer-wrapper {
    border-top: 2px solid #e7e7e7;
    padding-top: 18px;
}
.nav-pills > li > a {
    padding: 0px 12px 22px;
    color: #CCCCCC;
    font-size: 11px;
}
.nav-pills > li > a:hover {
    background: white;
}
li.social-menu{
   padding-left: 40px; 
    padding-bottom: 0;
}
li.social-menu a {
    text-transform: capitalize;
    padding: 0px 12px 9px;
}
.store-address {
    color: #999999;
    font-weight: Normal;
    font-size: 13px;
}
.social-menu a {
    text-transform: lowercase;
}
.store-email {
    color: #D51307;
}
.side-banner-imgs {
    padding-left: 6px;
}
.signup-page-wrapper,
.confirm-page-wrapper,
.home-body-wrapper,
.cart-page-wrapper,
.fourofour-page-wrapper,
.collection-page-wrapper,
.product-page-wrapper,
.static-page-wrapper,
.location-page-wrapper {
    padding-top: 20px;
    background: #F9F9F9;
    padding-bottom: 26px;
}
.bramerz-logo {
    padding-right: 0;
    padding-left: 53px;
    padding-top: 12px;
}
.collection-nav .navbar-nav > li > a {
margin-right: 16px;
}
.collection-nav .nav > li > a {
 padding: 12px 0px 0px 0px;   
}
.bramerz-logo img {
    width: 94px;
}
.collection-header .collection-item {
    padding-left: 0;
}
.collection-header .collection-item img {
    height: 76px;
    width: 100%;
}
.collection-header {
    border: 1px solid #ccc;
    height: 78px;
    background: white;
}
.collection-header:hover {
    background: #CC3333;
    cursor: pointer;
}
.collection-header:hover .collection-name,
.collection-header:hover .collection-description {
    color: white;
}
.collection-wrap {
    padding-left: 6px;
}
.collection-name {
    margin-top: 11px;
    margin-bottom: 4px;
    color: #CC3333;
}
.collection-description {
    color: #A3A3A3;
    } 
    .prod-description{
       color: #A3A3A3; 
    }
    .sidebar {
    border: 1px solid #D7D7D7;
    padding: 0;
    margin-bottom: 30px;
}
h5.my-order {
    margin: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #D7D7D7;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background: #F2F1F1;
}
.content {
    padding: 15px;
    background: white;
}
.dull-btn {
    display: block;
width: 100%;
background: #CDCACA;
border: 1px solid #CDCACA;
font-weight: bold;
text-transform: uppercase;
}
.cart-prod-name {
    color: #CC3333;
    margin-bottom: 4px;
    font-weight: bolder;
}
.active-btn {
    display: block;
    width: 100%;
    background: #CC3333;
    border: 1px solid #CC3333;
    color: white;
}
.order-summary span {
    font-size: 12px;
    display: block;
    color: #A3A3A3;
}
.order-summary a {
    text-transform: lowercase;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
button,
.btn-lg,
.btn-group-lg > .btn {
    border-radius: 0;
}
.add-items {
margin: 0;
padding-top: 8px;
font-size: 16px;
padding-bottom: 0px;
color: #DADADA;
}
.order-summary {
    padding-left: 0;
    padding-right: 0;
}
.cart-select-box {
    float: right;
}
.cart-numerics {
    padding-left: 0;
    padding-right: 0;
}
.cart-details-checkout {
    /*border-bottom: 1px solid #E0E0E0;
    padding-bottom: 10px;*/
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
}
.left-column {
    padding: 0;
}
.col-md-4.right-column {
    padding-left: 6px;
}
.collection-nav {
    margin-top: -11px;
}
.collection-nav .navbar {
    border-radius: 0;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #e7e7e7;
    background: #F3F3F3;
}
.collection-product-name {
    border-bottom: 3px solid #CCCCCC;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-weight: bolder;
}
.product {
    padding-left: 0;
    padding-right: 0;
    width: 139px;
    margin-right: 20px;
}
.main-wrapper .col-md-3.col-sm-3.col-xs-6.product:nth-child(4n +1) {
    margin-right: 0;
}
.prod-img {
    text-align: left;
    border: 1px solid #EAEAEA;
    padding: 6px;
}
.product button {
    width: 100%;
    border-radius: 0;
}
.prod-img .thumbnail {
    margin-bottom: 0;
}
.prod-img a img {
    height: 108px;
    width: 100%;
}
.prod-name {
    margin-bottom: 6px;
    color: black;
}
.product-wrapper {
    border: 1px solid #E7E7E7;
    background: white;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.close-btn.close {
    text-align: center;
    color: white;
    background: black;
    opacity: 1;
    width: 40px;
    margin-top: 20px;
    padding-bottom: 2px;
}
.close-btn.close span {
    text-align: center;
}
.product-name {
    padding-left: 0;
    padding-right: 0;
    font-weight: bolder;
}
.product-description {
    margin-top: 12px;
}
.variants-model-heading {
    margin: 0;
font-size: 16px;
text-transform: uppercase;
font-weight: bold;
}
.variants-model {
    background: #F9F9F9;
}
.visual-model {
    padding: 0;
    padding-bottom: 20%;
}
.multiple-variants {
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 20px;
}
.multiple-variants:last-child {
    border-bottom: none;
}
.variants-checkbox {
    margin-right: 22px;
}
.variants-box {
   padding: 15px;
background: #F9F9F9;
border: 1px solid #EDEDED;
}
.product-price {
    display: block;
    font-size: 22px;
    font-weight: bolder;
}
.compare-price {
    display: block;
    margin-top: -6px;
}
.product-select-box {
    float: right;
    width: 44px;
    height: 34px;
}
span.quantity-box {
    padding-top: 5px;
    display: inline-block;
    padding-left: 9px;
    font-size: 15px;
    font-weight: bolder;
}
.margin-top-product {
    margin-top: 10px;
    padding-right: 0;
}
.margin-top-product button {
    width: 100%;
}
.static-page-header,
.cart-page-header {
    padding: 0;
    margin-top: -20px;
    border-bottom: 1px solid #E9E9E9;
}
.my-arrow {
    color: #999999;
    border: 2px solid #CCCCCC;
    padding: 4px;
    margin-left: 11px;
}
.static-page-title {
    text-transform: uppercase;
font-weight: bold;
font-size: 20px;
    } 
    .back-to-shop {
    color: #979797;
    float: right;
    padding-top: 10px;
}
.text-bold{
   font-weight: bold; 
}
.static-page-content,
.cart-page-content {
    padding: 0;
    margin-top: 14px;
}
.standard-input {
    height: 28px;
    border-radius: 0;
}
.search-box {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #CCCCCC;
    background: #F5F5F5;
    margin-bottom: 14px;
}
.menu-box {
    padding-top: 4px;
    border: 1px solid #CCCCCC;
    background: white;
    margin-top: 14px;
    margin-bottom: 14px;
}
.store-location-box {
    padding-top: 4px;
    border: 1px solid #CCCCCC;
    background: white;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    height: 380px;
overflow-y: auto;
}
.store-location-box h4 {
    padding-bottom: 8px;
}
.store-location-box h4 i {
    font-size: 14px;
    }
.menu-list {
    padding-left: 15px;
    padding-right: 15px;
}
.menu-box .menu-list li {
    border-bottom: 1px solid #E9E9E9;
    text-transform: uppercase;
    list-style-type: cambodian;
}
.menu-icon {
    position: absolute;
    top: 12px;
    color: #CCCCCC;
}
.table-bordered th {
    font-size: 14px;
}
.table-bordered span {
    font-size: 12px;
}
.menu-box .menu-list li a {
    padding: 10px 22px;
}
iframe {
    width: 100%;
    height: 400px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.store-location-address {
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 10px;
}
.store-name {} .store-address-details {} .store-location-phone {} .store-location-email {} .fourofour-wrapper {
    margin-bottom: 80px;
}
.fourofour-content {} .fourofour-heading {
    color: #666666;
    font-size: 120px;
    font-weight: bolder;
}
.error {
    color: #B6B6B6;
    font-weight: bolder
}
.fourofour-hr {
    width: 200px;
}
.fourofour-subheading {
    color: #C8C8C8;
}
.fourofour-wrapper button {
    background: transparent;
    text-align: center;
    color: #6D6D6D;
    width: auto;
    margin: auto;
    margin-top: 24px;
    border: 2px solid #6D6D6D;
}
.cart-review {
    padding: 0;
    margin-bottom: 12px;
}
.cart-addmore-button {
    padding: 0;
}
.add-more-btn {
    width: 100%;
    background: black;
    color: white;
}
.table-bordered img {
    float: left;
    margin-right: 12px;
    margin-left: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100px;
height: 80px;
border: 1px solid #ccc;
}
.cart-page-select-box {
    width: 82px;
}
.table-bordered thead {
    background: #F6F6F6;
}
.cart-total-section {} .cart-total-section .input-group {
    width: auto;
    background: #D4D4D4;
    padding: 22px;
    margin-top: 5px;
}
.drinks-section {
    float: left;
    height: 180px;
    margin-left: 7px;
}
.drinks-section img {
    width: 100px;
    margin-right: 6px;
}
.drinks-section label {
    padding-left: 30px;
}
.drinks-section input[type="radio"] {
    text-align: center;
    margin: auto;
    margin-left: 16px;
}
.drink-name {
    text-align: center;
}
tbody.cart-total-section tr {
    background: #CCCCCC;
}
.side-box {
    padding-top: 4px;
    border: 1px solid #CCCCCC;
    background: white;
    margin-top: 14px;
    margin-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
}
.carts-select-box {
    margin-bottom: 12px;
}
.box-row {
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 10px;
}
.box-row:last-child {
    border-bottom: none;
}
.navbar-brand {
    margin-top: -44px;
}
.navbar-brand img {
    width: 124px;
    height: 70px;
}
.signup-content .black-btn {
    width: 100%;
    background: black;
    color: white;
}
.signup-content {
    padding: 0;
    border: 1px solid #DEDEDE;
    background: white;
    margin-bottom: 20px;
    margin-top: 6px;
    padding-left: 6px;
}
.login-menu li a{
   text-transform: capitalize; 
}
.no-margin {
    margin-left: 0;
    margin-right: 0;
}
.account-heading {
    padding-top: 20px;
    padding-bottom: 2px;
    font-size: 15px;
}
.login-block {
    padding-top: 6px;
    } .guest-block {
    background: #E5E4E4;
    padding-bottom: 16px;
    border-left: 1px solid #CCCCCC;
    padding-top: 6px;
}
.guest-row {
    display: inline-block;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 20px;
}
.guest-row:last-child {
    padding-bottom: 0;
    border-bottom: none;
}
.no-padding {
    padding-left: 0;
    padding-right: 0;
}
.confirm-page-form {
    border: 1px solid #CCCCCC;
    padding: 0;
}
.confirm-info-section {
background: white;
padding-left: 15px;
padding-right: 15px;
padding-bottom: 108px;
}
.confirm-ship-section {
    border-left: 2px solid #CCCCCC;
    padding-bottom: 22px;
}
.padding-top {
    padding-top: 32px;
}
span {
    display: block;
    font-size: 12px;
}
i {
    font-size: 11px;
}
.place-order-box {
    padding-top: 4px;
    border: 1px solid #CCCCCC;
    background: white;
}
.confirm-total-section {
    background: #F5F5F5;
}
.thankyou-page-content {
    padding: 15px;
    background: white;
    padding-bottom: 128px;
}
.thankyou-social-box {
    padding-top: 18px;
}
.thankyou-content {
    padding: 0;
    border: 1px solid #DEDEDE;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 0px;
}
.thankyou-sidebar {
    background: #F5F5F5;
    height: 290px;
    border-left: 2px solid #E7E7E7;
}
.cart-remove-btn{
    
    display: block;
font-size: 12px;
padding-left: 14px;
padding-top: 2px;
text-transform: capitalize;
cursor: pointer;
}
.forgot-password-link{
    color: #ccc;
font-weight: 600;
text-transform: none;
}
.side-box h4, .side-box h6{
  text-transform: uppercase;
  font-weight: bold;  
}
@media(max-width: 768px) {
    #header-wrapper {
        height: auto;
    }
    .collection-header {
        height: 92px;
    }
    .collection-header .collection-item img {
        height: 91px;
    }
    .drinks-section {
        margin-left: 25px;
    }
    #ngviewcontainer {
        margin-top: -20px;
    }
    .product {
       width: 180px;
        margin-right: 8%;
        margin-left: 6%;
    }
    .place-order-box {
        padding-top: 0px;
        border: none;
        background: white;
        margin-left: -15px;
margin-right: -15px;
    }
    .sidebar-content-page {
        /*padding: 0;*/
    }
    .confirm-ship-section {
        border-top: 2px solid #CCCCCC;
        border-left: none;
    }
    .no-padding-xs {
        padding: 0;
    }
    .side-banner-imgs {
    padding-left:15px;
}
.col-md-4.right-column {
padding-left: 15px;
}
.checkbox-inline{
  display: block; 
  margin-left: 10px; 

}
.search-box{
   padding-left: 15px;
   padding-right: 15px; 
}
.thankyou-sidebar{
   border-left: none;
   border-top:1px solid #E7E7E7; 
}
}
@media(max-width: 560px){
    .product {
width: 220px;
margin-left: 2%;
}
}