<html ng-app="aeCommerce" ng-controller="AECtrl">
<head>
	<meta name="fragment" content="!">
	<link rel="icon" type="image/vnd.microsoft.icon" ng-if="ThemeSettings.theme_settings.favicon" href="{{ThemeSettings.theme_settings.favicon}}"/>
	<base href="/">
	<%- requireServerVars(data) %>
	<title ng-bind="title">
		<%= unescape(title) %>
	</title>
	<% if (typeof(meta) != "undefined") { %>
	<% for (var metaItem in meta) { %>
	<% if (meta[metaItem] && metaItem) { %>
	<meta name="<%= metaItem %>" content="<%= meta[metaItem] %>" />
	<% } %>
	<% } %>
	<% } %>
	<% if (typeof(og) != "undefined") { %>
	<% for (var ogItem in og) { %>
	<% if (og[ogItem] && ogItem) { %>
	<meta property="<%= ogItem %>" content="<%= og[ogItem] %>" />
	<% } %>
	<% } %>
	<% } %>
	
	<% include header_resources %>
</head>

<body class="page page-id-6437 page-template page-template-100-width-php no-tablet-sticky-header no-mobile-sticky-header no-mobile-slidingbar no-mobile-totop woocommerce woocommerce-page do-animate" data-spy="scroll">
	<div id='loadingbar'></div>
	<div class="loading_container" style="display:none;">
		<div id="wrapper" class="">
			
<div class="header-wrapper">
	<div class="header-v1">
		<header id="header">
			<div class="avada-row" style="padding-top:0px;padding-bottom:0px;" data-padding-top="0px" data-padding-bottom="0px">
				<div class="logo">
					<a href="/"><img src="{{ThemeSettings.theme_settings.logo_img}}" alt="Avada" class="normal_logo"/><img src="{{ThemeSettings.theme_settings.logo_img}}" alt="Avada" style="width:97px;max-height:22px; height: auto !important" class="retina_logo"/></a>
				</div>
				<nav id="nav" class="nav-holder hidden-xs " data-height="83px">

				<ul class="navigation menu fusion-navbar-nav" ng-repeat="Navigation in ListNavigation | filter : 'product-menu'" style="display:inline-block;margin-right: 22px;">
				<li id="menu-item-5272" ng-class="{active:  $location.path() == '/'}" class="menu-item menu-item-type-custom menu-item-object-custom   menu-item-has-children menu-item-5272 fusion-megamenu-menu"><a  href="/">Home<span class="caret"></span></a>
				</li>
				</ul>
				<ul class="navigation menu fusion-navbar-nav" ng-repeat="Navigation in ListNavigation | filter : 'product-menu'" style="display:inline-block;margin-right: 22px;">
						<li ng-repeat="Nav in Navigation.link_list"  id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu"><a href="#">{{Nav.name}} <span class="caret"></span></a>
							<ul class="sub-menu" ng-repeat="Navigation in ListNavigation | filter : 'product-submenu'">
								<li  ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path() == '/'}" ng-show="Nav.optionSelected == 'frontpage'" id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu"><a href="/">{{Nav.name}}</a>
								</li>

								<li ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated" id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu"><a href="{{Nav.commaSeprated}}">{{Nav.name}}</a>
								</li>

								<li ng-repeat="Nav in Navigation.link_list"    ng-class="{active:  $location.path().indexOf('{{Nav.http}}') >= 0}" ng-show="Nav.http" id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu"><a href="{{Nav.http}}">{{Nav.name}}</a>
								</li>

							</ul>
						</li>

					</ul>
					<ul class="navigation menu fusion-navbar-nav" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'" style="display:inline-block">
						
						</li>
						<li id="menu-item-5272" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children menu-item-5272 fusion-megamenu-menu" ng-repeat="Nav in Navigation.link_list"   ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated"><a   href="{{Nav.commaSeprated}}">{{Nav.name}}<span class="caret"></span></a>
						</li>
						<li id="menu-item-5272" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children menu-item-5272 fusion-megamenu-menu" ng-repeat="Nav in Navigation.link_list"   ng-class="{active:  $location.path().indexOf('{{Nav.http}}') >= 0}" ng-show="Nav.http"><a href="{{Nav.http}}" target="_blank">{{Nav.name}}<span class="caret"></span></a>
						</li>

					</ul>
					
					<ul class="navigation menu fusion-navbar-nav" style="display:inline-block">
						<li class="main-nav-search" style="margin-left: 62px;"><a id="main-nav-search-link" class="search-link"></a>
							<div id="main-nav-search-form" class="main-nav-search-form">
								<form ng-submit="$location.path('/search')" role="search" id="searchform" method="get">
									<div class="search-table">
										<div class="search-field">
											<input placeholder="Search..." ng-model="SearchTitleSearch" type="text" type="text" value="" name="s" id="s"/>
										</div>
										<div class="search-button">
											<input type="submit" id="searchsubmit" value="&#xf002;"/>
										</div>
									</div>
								</form>
							</div>
						</li>
					</ul>

				</nav>
				<div class="mobile-nav-holder main-menu" >
					<div class="mobile-selector" ng-click="isCollapsed = !isCollapsed"><span>Go to...</span><div class="selector-down"></div></div>
					<ul class="navigation menu" id="mobile-nav"  ng-repeat="Navigation in ListNavigation | filter : 'main-menu'" collapse="isCollapsed">

						<li id="mobile-menu-item-5272" class="mobile-nav-item"><a href="/" aria-haspopup="true">Home</a>
						</li>
						<div ng-repeat="Navigation in ListNavigation | filter : 'product-menu'">
							<li ng-repeat="Nav in Navigation.link_list" id="mobile-menu-item-7015" class="mobile-nav-item"><span href="{{Nav.commaSeprated}}" aria-haspopup="true" class="open-submenu"></span><a href="{{Nav.commaSeprated}}" aria-haspopup="true">{{Nav.name}} </a>
							</div>
							<ul class="sub-menu" ng-repeat="Navigation in ListNavigation | filter : 'product-submenu'">
								<li ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.optionSelected == 'frontpage'" id="menu-item-7023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7023"><a href="/" aria-haspopup="true">{{Nav.name}}</a></li>
								<li ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.commaSeprated" id="menu-item-7023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7023"><a href="{{Nav.commaSeprated}}" aria-haspopup="true">{{Nav.name}}</a></li>
								<li ng-repeat="Nav in Navigation.link_list"   ng-show="Nav.http" id="menu-item-7023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7023"><a href="{{Nav.http}}" aria-haspopup="true">{{Nav.name}}</a></li>
							</ul>
						</li>
						<li id="mobile-menu-item-5272" class="mobile-nav-item" ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.commaSeprated"><a href="{{Nav.commaSeprated}}" aria-haspopup="true">{{Nav.name}}</a>
						</li>
						<li id="mobile-menu-item-5272" class="mobile-nav-item" ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.http"><a href="{{Nav.http}}" aria-haspopup="true">{{Nav.name}}</a>
						</li>
						
					</ul></div>
				</div>
			</header>
		</div>
		<div class="init-sticky-header">

		</div>
	</div>
	<header id="header-sticky" class="sticky-header">
		<div class="sticky-shadow">
			<div class="avada-row">
				<div class="logo" style="margin-top: 8px;">
					<a href="/"><img class="logo_sticky" src="{{ThemeSettings.theme_settings.logo_img}}" alt="Avada" data-max-width="" class="normal_logo"/><img src="{{ThemeSettings.theme_settings.logo_img}}" alt="Avada" style="width:97px;height:22px;" data-max-width="" class="retina_logo"/></a>
				</div>
				<nav id="sticky-nav" class="nav-holder hidden-xs">
						<ul class="navigation menu fusion-navbar-nav" ng-repeat="Navigation in ListNavigation | filter : 'product-menu'" style="display:inline-block;margin-right: 22px;">
				<li id="menu-item-5272" ng-class="{active:  $location.path() == '/'}" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children menu-item-5272 fusion-megamenu-menu"><a  href="/">Home<span class="caret"></span></a>
				</li>
				</ul>
				<ul class="navigation menu fusion-navbar-nav" ng-repeat="Navigation in ListNavigation | filter : 'product-menu'" style="display:inline-block;margin-right: 22px;">
						<li ng-repeat="Nav in Navigation.link_list" id="menu-item-1300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-1300 fusion-dropdown-menu"><a href="#">{{Nav.name}} <span class="caret"></span></a>
							<ul class="sub-menu" ng-repeat="Navigation in ListNavigation | filter : 'product-submenu'">
								<li  ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.optionSelected == 'frontpage'" id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu"><a href="/">{{Nav.name}}</a>
								</li>

								<li ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.commaSeprated" id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu"><a href="{{Nav.commaSeprated}}">{{Nav.name}}</a>
								</li>

								<li ng-repeat="Nav in Navigation.link_list"   ng-show="Nav.http" id="menu-item-3609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-3609 fusion-dropdown-submenu"><a href="{{Nav.http}}">{{Nav.name}}</a>
								</li>

							</ul>
						</li>

					</ul>
					<ul class="navigation menu fusion-navbar-nav" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'" style="display:inline-block">
						
						</li>
						<li id="menu-item-5272" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children menu-item-5272 fusion-megamenu-menu" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated"><a  href="{{Nav.commaSeprated}}">{{Nav.name}}<span class="caret"></span></a>
						</li>
						<li id="menu-item-5272" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-has-children menu-item-5272 fusion-megamenu-menu" ng-repeat="Nav in Navigation.link_list"   ng-class="{active:  $location.path().indexOf('{{Nav.http}}') >= 0}" ng-show="Nav.http"><a  href="{{Nav.http}}" target="_blank">{{Nav.name}}<span class="caret"></span></a>
						</li>

					</ul>
					
					<ul class="navigation menu fusion-navbar-nav" style="display:inline-block">
						<li class="main-nav-search" style="margin-left: 62px;"><a id="main-nav-search-link" class="search-link"></a>
							<div id="main-nav-search-form" class="main-nav-search-form">
								<form ng-submit="$location.path('/search')" role="search" id="searchform" method="get">
									<div class="search-table">
										<div class="search-field">
											<input placeholder="Search..." ng-model="SearchTitleSearch" type="text" type="text" value="" name="s" id="s"/>
										</div>
										<div class="search-button">
											<input type="submit" id="searchsubmit" value="&#xf002;"/>
										</div>
									</div>
								</form>
							</div>
						</li>
					</ul>

				</nav>
				<div class="mobile-nav-holder">
				<div class="mobile-selector" ng-click="isCollapsed = !isCollapsed"><span>Go to...</span><div class="selector-down"></div></div>
				<ul ng-repeat="Navigation in ListNavigation | filter : 'main-menu'" class="navigation mobile-sticky-nav" id="mobile-nav" collapse="isCollapsed">
                <li id="mobile-menu-item-5272" class="mobile-nav-item"><a href="/" aria-haspopup="true">Home</a>
						</li>
						
				<div ng-repeat="Navigation in ListNavigation | filter : 'product-menu'">
							<li ng-repeat="Nav in Navigation.link_list" id="mobile-menu-item-7015" class="mobile-nav-item"><span href="#" aria-haspopup="true" class="open-submenu"></span><a href="#" aria-haspopup="true">{{Nav.name}} </a>
							</div>
							<ul class="sub-menu" ng-repeat="Navigation in ListNavigation | filter : 'product-submenu'">
								<li ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.optionSelected == 'frontpage'" id="menu-item-7023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7023"><a href="/" aria-haspopup="true">{{Nav.name}}</a></li>
								<li ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.commaSeprated" id="menu-item-7023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7023"><a href="{{Nav.commaSeprated}}" aria-haspopup="true">{{Nav.name}}</a></li>
								<li ng-repeat="Nav in Navigation.link_list"   ng-show="Nav.http" id="menu-item-7023" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7023"><a href="{{Nav.http}}" aria-haspopup="true">{{Nav.name}}</a></li>
							</ul>
						</li>
				 <li id="mobile-menu-item-5272" class="mobile-nav-item" ng-repeat="Nav in Navigation.link_list"  ng-show="Nav.commaSeprated"><a href="{{Nav.commaSeprated}}" aria-haspopup="true">{{Nav.name}}</a>
						</li>
				 <li id="mobile-menu-item-5272" class="mobile-nav-item"  ng-repeat="Nav in Navigation.link_list" ng-show="Nav.http"><a href="{{Nav.http}}" aria-haspopup="true">{{Nav.name}}</a>
						</li>

              </ul>
				</div>
			</div>
		</div>
	</header>
	<!-- Theme JS -->
	<script type='text/javascript' src='<%= BaseUrl %>js/customjs/jquery.js'></script>
	<script type='text/javascript' src='<%= BaseUrl %>js/customjs/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='<%= BaseUrl %>js/customjs/jquery.themepunch.disablehammer.js'></script>
	<script type='text/javascript' src='<%= BaseUrl %>js/customjs/jquery.themepunch.tools.min.js'></script>
	<script type='text/javascript' src='<%= BaseUrl %>js/customjs/jquery.themepunch.revolution.min.js'></script>


	<script type="text/javascript">

		$(window).scroll(function () {
			if ($(window).scrollTop() > 2){
				$("#header").hide();
				$("#header-sticky").show();
				
			} else{
				$("#header-sticky").hide();
				$("#header").show();
			}
		});
	</script>
	
	 
