<div class="container-fluid footer-wrapper">
	
	<div class="container">
		<div class="row">
			<ul class="col-xs-4 col-sm-4 col-md-2 nav nav-pills"  ng-repeat="Navigation in ListNavigation | filter : 'footer'">
				<li role="presentation" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path() == '/'}" ng-show="Nav.optionSelected == 'frontpage'"><a href="/">{{Nav.name}}</a></li>
				<li role="presentation" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated"><a href="{{Nav.commaSeprated}}">{{Nav.name}}</a></li>
				<li role="presentation" ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.http}}') >= 0}" ng-show="Nav.http"><a href="{{Nav.http}}">{{Nav.name}}</a></li>
				
			</ul>
			
			<ul class="col-xs-4 col-sm-4 col-md-2 nav nav-pills">
				<li role="presentation" class="social-menu" ng-if="theme.theme_settings.facebook_link"><a href="<%= theme.theme_settings.facebook_link %>" target="_blank"><i><img ng-src="{{BaseUrl}}img/theme/facebook.png" style="width:26px;padding-right:2px;"></i>Facebook</a></li>
				<li role="presentation" class="social-menu" ng-if="theme.theme_settings.twitter_link"><a href="<%= theme.theme_settings.twitter_link %>" target="_blank"><i><img ng-src="{{BaseUrl}}img/theme/twitter.png" style="width:26px;padding-right:2px;"></i>Twitter</a></li>
			</ul>
			<div class="col-md-offset-2 col-md-4 col-xs-12 col-sm-12">
				<strong>Join our newsletter</strong>
				<p class="text-left">Join up and get notified about new products,updates and special offers</p>
				<div class="input-group">
					<input type="text" class="form-control">
					<span class="input-group-btn">
					<button class="btn btn-default" type="button">Go!</button>
					</span>
					</div><!-- /input-group -->
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-6 col-sm-6 col-md-4 store-address">
					<address>
						<span>Copyright 2014,&nbsp;</span><span>{{SettingGeneral.name}}</span><br>
						
					<abbr title="Phone">{{SettingGeneral.phone}},</abbr>&nbsp;&nbsp;<span class="store-email">{{SettingGeneral.contactEmail}}</span>
				</address>
			</div>
			<div class="col-md-offset-6 col-md-2 bramerz-logo">
				<img ng-src="{{BaseUrl}}img/theme/Bramerz-logo.png">
			</div>
		</div>
		
	</div>
</div>