<html ng-app="aeCommerce" ng-controller="AECtrl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="fragment" content="!">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<base href="/">
		<link rel="icon" type="image/vnd.microsoft.icon" ng-if="ThemeSettings.theme_settings.favicon" href="{{ThemeSettings.theme_settings.favicon}}"/>
		<link href="<%= BaseUrl %>css/theme/bootstrap.css" rel="stylesheet">
		<link href="<%= BaseUrl %>css/theme/style.css" rel="stylesheet">
		<!--Jquery Library-->
		<script type="text/javascript" src="<%= BaseUrl %>js/lib/theme/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="<%= BaseUrl %>js/lib/theme/bootstrap.min.js"></script>
		<script type="text/javascript" src="<%= BaseUrl %>js/customjs/moment.min.js"></script>
		<!--Angular Resources-->
		<script type="text/javascript" src="<%= BaseUrl %>js/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="<%= BaseUrl %>js/module.js"></script>
		<!--Azure Sdk-->
		<script type="text/javascript" src="//fishry.azurewebsites.net/frontend/js/lib/azure/MobileServices.Web-1.0.0.min.js"></script>
		<script type="text/javascript" src="//fishry.azurewebsites.net/frontend/js/lib/azure/azure.js"></script>
		<script type="text/javascript" src="//fishry.azurewebsites.net/frontend/js/lib/azure/ae-sdk.js"></script>
		<!--Theme Resources Angular JS-->
		<script type="text/javascript" src="<%= BaseUrl %>js/controllers/global.js"></script>
		<script type="text/javascript" src="<%= BaseUrl %>js/lib/theme/ui-bootstrap-tpls-0.10.0.min.js"></script>
		
		<title ng-bind="title">
		<%= unescape(title) %>
		</title>
		<% if (typeof(meta) != "undefined") { %>
		<% for (var metaItem in meta) { %>
		<% if (meta[metaItem] && metaItem) { %>
		<meta name="<%= metaItem %>" content="<%= meta[metaItem] %>" />
		<% } %>
		<% } %>
		<% } %>
		<% if (typeof(og) != "undefined") { %>
		<% for (var ogItem in og) { %>
		<% if (og[ogItem] && ogItem) { %>
		<meta property="<%= ogItem %>" content="<%= og[ogItem] %>" />
		<% } %>
		<% } %>
		<% } %>
		
		
		<%- requireServerVars() %>
		<% include header_resources %>
		
	</head>
	<body id="index">
		
		<div id='loadingbar'></div>
		<div id="header-wrapper">
			
			<nav class="navbar navbar-default mainnav visible-nav" role="navigation">
				<div class="container">
					<ul class="login-menu">
						<li ng-if="!User.info.CustomerEmail  && ListPaymentGateways.accountsDisabled == 'optional'"><a href="/signup">Register</a></li>
						<li ng-if="!User.info.CustomerEmail"><a href="/login">Sign in</a></li>
						<li ng-if="User.info.CustomerEmail"><a  ng-click="Logout()">Sign out</a></li>
						<li ng-if="User.info.CustomerEmail && !User.info.GuestAuth"><a href="/account_info">My Account</a></li>
						<li ng-if="User.info.CustomerEmail"><a>Hello {{User.info.CustomerFirstName}}</a></li>
						
						
					</ul>
					<div class="clearfix"></div>
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" ng-if="ThemeSettings.theme_settings.logo_img" href="/"><img src="{{ThemeSettings.theme_settings.logo_img}}"></a>
						<a class="navbar-brand" ng-if="!ThemeSettings.theme_settings.logo_img" href="/"><img ng-src="{{BaseUrl}}img/theme/taipei.png"></a>
						
						
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
						
						
						<ul class="nav navbar-nav navbar-right" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'">
							<li  ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated"><a href="{{Nav.commaSeprated}}">{{Nav.name}}</a></li>
							<li class="active-cart"><a href="/cart"><i class="glyphicon glyphicon-shopping-cart"></i>Cart</a></li>
							
							
						</ul>
						</div><!-- /.navbar-collapse -->
						</div><!-- /.container-fluid -->
					</nav>
					<nav class="navbar navbar-default navbar-fixed-top hidden-nav sticky" role="navigation">
						<div class="container">
							
							<div class="clearfix"></div>
							<!-- Brand and toggle get grouped for better mobile display -->
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								</button>
								<a class="navbar-brand" ng-if="ThemeSettings.theme_settings.logo_img" href="/"><img src="{{ThemeSettings.theme_settings.logo_img}}"></a>
								<a class="navbar-brand" ng-if="!ThemeSettings.theme_settings.logo_img" href="/"><img ng-src="{{BaseUrl}}img/theme/taipei.png"></a>
							</div>
							<!-- Collect the nav links, forms, and other content for toggling -->
							<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								
								
								<ul class="nav navbar-nav navbar-right" ng-repeat="Navigation in ListNavigation | filter : 'main-menu'">
									<li  ng-repeat="Nav in Navigation.link_list"  ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated"><a href="{{Nav.commaSeprated}}">{{Nav.name}}</a></li>
									<li class="active-cart"><a href="/cart"><i class="glyphicon glyphicon-shopping-cart"></i>Cart</a></li>
									
									
								</ul>
								</div><!-- /.navbar-collapse -->
								</div><!-- /.container-fluid -->
							</nav>
						</div>
						<div class="clearfix"></div>
						<script type="text/javascript">
								$(function() {
						var div = $(".sticky");
						var nav = $(".mainnav")
						$(window).scroll(function() {
						var scroll = $(window).scrollTop();
						
						if (scroll >= 10) {
						div.removeClass('hidden-nav').addClass("visible-nav");
						nav.removeClass('visible-nav').addClass('hidden-nav');
						} else {
						div.removeClass("visible-nav").addClass('hidden-nav');
						nav.removeClass("hidden-nav").addClass('visible-nav');
						}
						});
						});
						</script>