<div id="page">
    <!-- BREADCRUMBS -->
    <section ng-if="!ThemeSettings.theme_settings.slide_collection_2_img" class="breadcrumb parallax margbot30"></section>
     <section ng-if="ThemeSettings.theme_settings.slide_collection_2_img" class="breadcrumb parallax margbot30" style="background: url({{ThemeSettings.theme_settings.slide_collection_2_img}}) no-repeat;background-size:cover;"></section>
    <!-- //BREADCRUMBS -->


    <!-- PAGE HEADER -->
    <section class="page_header">

        <!-- CONTAINER -->
        <div class="container">
            <h3 class="pull-left no-margin"><b>Shopping bag</b>
            </h3>

            <div class="pull-right">
                <a href="/">Back to shop<i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //PAGE HEADER -->


    <!-- SHOPPING BAG BLOCK -->
    <section class="shopping_bag_block">

        <!-- CONTAINER -->
        <div class="container">

            <!-- ROW -->
            <div class="row">

                <!-- CART TABLE -->
                <div class="col-lg-9 col-md-9 padbot30">

                    <table class="shop_table">
                        <thead>
                            <tr>
                                <th class="product-thumbnail hidden-xs"></th>
                                <th class="product-name">Item</th>
                                <th class="product-price">Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Total</th>
                                <th class="product-remove"></th>
                            </tr>
                        </thead>


                        <tbody ng-repeat="(keyMain,Itemss) in Cart track by $index">
                            <tr class="cart_item" ng-show="Itemss.productID">
                                <td class="product-thumbnail hidden-xs">
                                    <a href="javascript:void(0)">
                                        <img ng-if="Itemss.productInfo.productImage[0].Image" ng-src="{{Itemss.productInfo.productImage[0].Image}}" width="100px" alt="" />
                                         
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a href="javascript:void(0)">{{Itemss.productInfo.productName}}</a>
                                </td>

                                <td class="product-price">{{Itemss.price | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>

                                <td class="product-quantity">
                                    <select class="basic" ng-change="changeQuantity()" ng-model="Itemss.quantity" type="number">

                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>

                                <td class="product-subtotal">{{Itemss.price * Itemss.quantity | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>

                                <td class="product-remove">
                                    <a ng-click="RemoveCartItem(Itemss.productID,false)">
                                        <span>Delete</span> <i>X</i>
                                    </a>
                                </td>
                            </tr>
                            <tr class="cart_item" ng-hide="Itemss.productID" ng-repeat="(key,itm) in Itemss track by $index">
                                <td class="product-thumbnail hidden-xs">
                                    <a href="javascript:void(0)">
                                        <img ng-if="itm.productInfo.productImage[0].Image" ng-src="{{itm.productInfo.productImage[0].Image}}" width="100px" alt="" />
                                        
                                    </a>
                                </td>
                                <td class="product-name">
                                    <a href="javascript:void(0)">{{itm.productInfo.productName}}</a>
                                    <li class="variation-Color">{{key}}</li>

                                </td>

                                <td class="product-price">{{itm.price | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>

                                <td class="product-quantity">
                                    <select class="basic" ng-change="changeQuantity()" ng-model="itm.quantity" type="number">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    
                                    </select>
                                </td>


                                <td class="product-subtotal">{{itm.price * itm.quantity | nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>

                                <td class="product-remove">
                                    <a ng-click="RemoveCartItem(itm.productID,key)">
                                        <span>Delete</span> <i>X</i>
                                    </a>
                                </td>
                            </tr>




                        </tbody>
                    </table>

                    <h6 ng-hide="IfCart()" align="center" style="margin-top: 55px;
font-size: 17px;">
                       Cart is Empty
                    </h6>
                </div>
                <!-- //CART TABLE -->


                <!-- SIDEBAR -->
                <div id="sidebar" class="col-lg-3 col-md-3 padbot50">

                    <!-- BAG TOTALS -->
                    <div class="sidepanel widget_bag_totals">
                        <h3>BAG TOTALS</h3>
                        <table class="bag_total">
                            <tr class="total clearfix" ng-if="SettingsShippingCountry[0].TaxRate">
                                <th>Sub Total</th>
                                <td class="right">{{ReturnTotal()| nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>
                            </tr>
                            <tr class="cart-subtotal clearfix">
                                <th>total</th>
                                <td class="right">{{ReturnTotal()- ReturnTaxPrice()| nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>
                            </tr>
                            <tr class="cart-subtotal clearfix" ng-if="SettingsShippingCountry[0].TaxRate">
                                <th>TAX</th>
                                <td class="right">{{ReturnTaxPrice()| nfcurrency:SettingGeneral.settings.currencies_format+' '}}</td>
                            </tr>
                            
                        </table>

                        <a ng-if="!User.info.CustomerEmail && IfCart()" class="btn active" href="/login">Check out</a>
                        <a ng-if="User.info.CustomerEmail && IfCart()" class="btn active" href="/confirm">Check out</a>
                        <a class="btn inactive" href="/">Continue shopping</a>
                    </div>
                    <!-- //REGISTRATION FORM -->
                </div>
                <!-- //SIDEBAR -->
            </div>
            <!-- //ROW -->
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //SHOPPING BAG BLOCK -->
</div>

<script type="text/javascript">
     jQuery('.shopping_bag .cart').hide();
     $('header .navmenu').fadeOut();
</script>