<style type="text/css">
input[type="checkbox"]{
display: none;
}
</style>
<div id="page"  ng-init="InitCollection()">
  <!-- BREADCRUMBS -->
  <section  ng-if="routeParam != 'all'" class="breadcrumb men parallax margbot30" back-img-Collection="{{ThemeSettings.theme_settings.slide_collection_1_img}}">
    
    <!-- CONTAINER -->
    <div ng-repeat="collection in ListCollection  | filter:{collectionName:SearchCollection}">
      <div ng-show="(collection.collectionName != 'Frontpage')">
        <div class="container" ng-if="routeParam == collection.collectionUrl || routeParam == 'all' || !routeParam">
          <h2>{{collection.collectionName}}</h2>
        </div>
      </div>
    </div>
    <!-- //CONTAINER -->
    
  </section>
  <section  ng-if="routeParam == 'all'" class="breadcrumb men parallax margbot30" back-img-Collection="{{ThemeSettings.theme_settings.slide_collection_1_img}}">
    
     <!-- CONTAINER -->
    <div >
      <div >
        <div class="container">
          <h2>All Collections</h2>
        </div>
      </div>
    </div>
    <!-- //CONTAINER -->
    
  </section>
  
  
  <!-- SHOP BLOCK -->
  <section class="shop">
    <!-- CONTAINER -->
    <div class="container">
      <!-- ROW -->
      <div class="row" >
        <!-- SIDEBAR -->
        <div id="sidebar" class="col-lg-3 col-md-3 col-sm-3 padbot50">
          <!-- CATEGORIES -->
          <div class="sidepanel widget_categories">
            <h3>Collections</h3>
            <ul ng-repeat="Navigation in ListNavigation | filter : 'collections-menu'">
              <li ng-repeat="Nav in Navigation.link_list"><a ng-class="{active:  $location.path().indexOf('{{Nav.commaSeprated}}') >= 0}" ng-show="Nav.commaSeprated" href="{{Nav.commaSeprated}}">{{Nav.name}}</a>
            </li>
          </ul>
        </div>
        <!-- //CATEGORIES -->
        <div ng-show="ThemeSettings.theme_settings.collection_widget_search">
          <div class="form-group">
            <!-- <div class="panel panel-default"  ng-show="ThemeSettings.theme_settings.collection_widget_title">
              <div class="panel-heading">Title</div>
              <div class="panel-body">
                <input placeholder="Search By Title..." ng-model="SearchTitleSearch" type="text" class="form-control">
              </div>
            </div> -->
            <!--<div class="panel panel-default">
              <div class="panel-heading">Collection</div>
              <div class="panel-body">
                <select ng-model="SearchCollectionSearch"  class="form-control">
                  <option value="">Select Collection</option>
                  <option   ng-repeat="collections in ListCollection" value="{{collections.collectionName}}">{{collections.collectionName}}</option>
                </select>
              </div>
            </div> -->
            <!--  <div class="panel panel-default"  ng-show="ThemeSettings.theme_settings.collection_widget_brand">
              <div class="panel-heading">Shop By Brand</div>
              <div class="panel-body">
                <div ng-repeat="(keysVendor,vendors) in ListProductVendor" >
                  <span ng-if="hasBrandInCollection(vendors.id)"> <input type="checkbox" class="filter-brand" value="{{vendors.id}}" ng-model="SearchVendorsearch[vendors.id]"/> {{vendors.productVendorName}} ({{hasBrandInCollection(vendors.id)}})</span>
                </div>
              </div>
            </div>  -->
            <!-- SHOP BY BRANDS -->
            <div class="sidepanel widget_brands"  ng-show="ThemeSettings.theme_settings.collection_widget_brand" ng-if="routeParam != 'all'">
              <h3>SHOP BY BRANDS</h3>
              <div ng-repeat="(keysVendor,vendors) in ListProductVendor">
                <span ng-if="hasBrandInCollection(vendors.id)"><input type="checkbox" id="categorymanufacturer1" value="{{vendors.id}}" ng-model="SearchVendorsearch[vendors.id]"/><label for="categorymanufacturer1">{{vendors.productVendorName}} ({{hasBrandInCollection(vendors.id)}})</label></span>
              </div>
              </div><!-- //SHOP BY BRANDS -->
              <!--<select ng-model="SearchVendorsearch"  class="form-control">-->
              
              <!--  </select>--><br>
              
              <!-- <div class="panel panel-default"  ng-show="ThemeSettings.theme_settings.collection_widget_price">
                <div class="panel-heading">Price Range</div>
                <div class="panel-body">
                  <ul style="list-style:none; margin:0; padding:0">
                    <li>
                      <slider floor="1" ceiling="6000" ng-model-low="priceRange.minPrice" ng-model-high="priceRange.maxPrice"></slider>
                      <span class="pull-left">Min: {{priceRange.minPrice}}</span>
                      <span  class="pull-right">Max: {{priceRange.maxPrice}}</span>
                    </li>
                    <div class="clearfix"></div>
                  </ul>
                </div>
              </div>  -->
              
              <div class="sidepanel widget_brands"   ng-show="ThemeSettings.theme_settings.collection_widget_type">
                <h3>SHOP BY TYPE</h3>
                <select ng-model="SearchTypeSearch"  class="form-control" style="margin-bottom: 14px;">
                  <option value="">Select Type</option>
                  <option   ng-repeat="Types in ListProductType" value="{{Types.productTypeName}}">{{Types.productTypeName}}</option>
                </select>
              </div>
              <!-- <div class="panel panel-default"  ng-if="ThemeSettings.theme_settings.collection_widget_tag">
                <div class="panel-heading">Tags</div>
                <div class="panel-body">
                  <input placeholder="Search By Tags..." ng-model="SearchTagsSearch" type="text" class="form-control">
                </div>
              </div>  -->
            </div>
          </div>
          
          
          
          
        </div>
        <!-- //SIDEBAR -->
        <!-- SHOP PRODUCTS -->
        <div class="col-lg-9 col-sm-9 padbot20" ng-init="init()">
          <!-- SHOP BANNER -->
          <div ng-if="routeParam != 'all'">
            <div class="banner_block margbot15" ng-repeat="collection in ListCollection  | filter:{collectionName:SearchCollection}">
              <div ng-show="(collection.collectionName != 'Frontpage')">
                <a class="banner nobord"  ng-if="routeParam == collection.collectionUrl || routeParam == 'all' || !routeParam">
                  <img ng-if="collection.collectionImage" ng-src="http://aecommerce.blob.core.windows.net/collection/{{collection.collectionImage}}" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat;'}"/>
                  
                </a>
              </div>
            </div>
          </div>
          <!-- //SHOP BANNER -->
          <!-- SORTING TOVAR PANEL -->
          <div class="sorting_options clearfix">
            <!-- COUNT TOVAR ITEMS -->
            <div ng-if="routeParam != 'all'">
              <div class="count_tovar_items" ng-repeat="collection in ListCollection  | filter:{collectionName:SearchCollection}">
                <div ng-show="(collection.collectionName != 'Frontpage')">
                  <div ng-if="routeParam == collection.collectionUrl || routeParam == 'all' || !routeParam">
                    <p>{{collection.collectionName}} </p>
                    <span style="color: gray;font-size: 13px;font-weight: normal;text-transform: capitalize;">{{(ListProduct| CustomFilter:{collection:collection.collectionUrl} ).length}} items </span>
                    

                  </div>
                </div>
              </div>
            </div>
            <div ng-if="routeParam == 'all'">
               <div class="count_tovar_items" >
                <div>
                  <div>
                    <p>All Collections</p>
                    <span style="color: gray;font-size: 13px;font-weight: normal;text-transform: capitalize;">{{(ListProduct| CustomFilter:{collection:collection.collectionUrl} ).length}} items </span>
                    

                  </div>
                </div>
              </div>
            </div>
            
            <!-- //COUNT TOVAR ITEMS -->
            <!-- TOVAR FILTER -->
            <!-- <div class="product_sort">
              <p>SORT BY</p>
              <select class="basic">
                <option value="">Popularity</option>
                <option>Reting</option>
                <option>Date</option>
              </select>
            </div> -->
            <!-- //TOVAR FILTER -->
            <!-- PRODUC SIZE -->
            <div id="toggle-sizes">
              <a class="view_box active" href="javascript:void(0);"><i class="fa fa-th-large"></i></a>
              <a class="view_full" href="javascript:void(0);"><i class="fa fa-th-list"></i></a>
            </div>
            <!-- //PRODUC SIZE -->
          </div>
          <!-- ROW -->
          <div class="row shop_block">
            <div ng-repeat="collection in ListCollection  | filter:{collectionName:SearchCollection}">
              <div ng-show="(collection.collectionName != 'Frontpage')">
                <div ng-if="routeParam == collection.collectionUrl || routeParam == 'all' || !routeParam">
                  <div ng-if="routeParam != 'all'">
                    <h2 ng-if="(ListProduct| CustomFilter:{collection:collection.collectionName}).length == '0'" style="text-align: center;text-transform: none;padding-top: 57px;padding-bottom: 68px;">We could not find any products in this Collection.</h2>
                  </div>
                  <div class="tovar_wrapper col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 padbot40" ng-repeat="products in ListProduct | CustomFilter:{collection:collection.collectionName} |  filter:{productName:SearchTitleSearch} | filter:{ProductTypeName:SearchTypeSearch} |  returnTotals:products | startFrom:startFromPage | limitTo:pageLimit">
                    <div class="tovar_item clearfix">
                      <div class="tovar_img"  ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat;'}">
                        <a href="/product/{{products.productUrl}}">
                          <div class="tovar_img_wrapper">
                            <img ng-if="products.productImage[0].Image" alt="{{products.productName}}" ng-src="{{products.productImage[0].Image}}"
                            >
                            
                            <img class="img_h" ng-src="" alt="">
                          </div>
                        </a>
                        <div class="tovar_item_btns">
                          <div class="open-project-link" ng-controller="GlobalCtrl">
                            <a class="open-project tovar_view" ng-click="preproduct(products.productUrl);clickProductPop();">quick view</a>
                            <form  ng-if="!products.productMultiOptions" name="addtoCart" ng-submit="addToCart(products.id,products);cartEffect();" style="display:inline-block;">
                              <button class="cart-btn fa fa-shopping-cart" type="submit" name="submit"></button>
                            </form>
                            <form  ng-if="products.productMultiOptions" ng-click="preproduct(products.productUrl);clickProductPop();" style="display:inline-block;">
                              <button class="cart-btn fa fa-shopping-cart" type="submit" name="submit"></button>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="tovar_description clearfix">
                        <a class="tovar_title" href="/product/{{products.productUrl}}">{{products.productName}}</a>
                        <span ng-if="!products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                        <span ng-if="products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                        <div class="tovar_content"><p ng-bind-html="products.productDescription | limitTo:120"></p></div>
                      </div>
                      
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- //ROW -->
          <hr>
          <div class="clearfix">
            <ul class="pagination ng-isolate-scope ng-pristine ng-valid">
              <li>
                <a href="javascript:void(0)" ng-hide="!startFromPage" ng-click="selectPage('p')" class="ng-binding">
                  <i class="glyphicon glyphicon-chevron-left" style="padding-top:11px;"></i>
                </a>
              </li>
              <li ng-repeat="page in pagesCounts()" ng-class="{active:returnStateActive(page-1)}">
                <a href="javascript:void(0)" ng-click="selectPage(page-1)" class="ng-binding">{{page}}</a>
              </li>
              <li>
                <a href="javascript:void(0)" ng-hide="currentPage == expectedPages" ng-click="selectPage('n')" class="ng-binding">
                  <i class="glyphicon glyphicon-chevron-right" style="padding-top: 11px;"></i>
                </a>
              </li>
            </ul>
          </div>
          <hr>
          <!--  <div class="clearfix">
            
            <ul class="pagination">
              <li><a href="javascript:void(0);">1</a>
            </li>
            <li><a href="javascript:void(0);">2</a>
          </li>
          <li class="active"><a href="javascript:void(0);">3</a>
        </li>
        <li><a href="javascript:void(0);">4</a>
      </li>
      <li><a href="javascript:void(0);">5</a>
    </li>
    <li><a href="javascript:void(0);">6</a>
  </li>
  <li><a href="javascript:void(0);">...</a>
</li>
</ul>

<a class="show_all_tovar" href="javascript:void(0);">show all</a>
</div> -->
</div>
<!-- //SHOP PRODUCTS -->
</div>
<!-- //ROW -->
</div>
<!-- //CONTAINER -->
</section>
<!-- //SHOP -->
</div>
<div  ng-show="productPop" class="popup">
<div id="tovar_content">
<div class="tover_view_page element_fade_in hidden-xs">
<div class="tover_view_header clearfix">
<p>Quick view
</p>
<a ng-click="unclickProductPop();" style="float: right;">Close<i style="border: 1px solid black;padding-left: 4px;padding-right:4px;margin-left: 6px;cursor: pointer;">X</i> </a>
</div>
<!-- TOVAR DETAILS -->
<section class="tovar_details">
<!-- CONTAINER -->
<div class="container">
<!-- ROW -->
<div class="row">

<!-- TOVAR DETAILS WRAPPER -->
<div class="product-popup tovar_details_wrapper clearfix">

<!-- CLEARFIX -->
<div class="clearfix padbot30  hidden-xs" ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : popupProductUrl}">
  <div class="tovar_view_fotos clearfix">
                            <div class="slider-product">
                                <ul style="border: 1px solid lightgray;">
                                    <li>
                                        <a>
                                            <img id="image-show-zero" ng-if="product.productImage[0].Image" ng-src="{{product.productImage[0].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-one" ng-src="{{product.productImage[1].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                           
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-two" ng-src="{{product.productImage[2].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                           
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-three" ng-src="{{product.productImage[3].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                           
                                        </a>
                                    </li>
                                </ul>
                            </div>
                          <!--   <div class="slider-products-2" ng-if="product.productImage[0].Image &&product.productImage[1].Image && product.productImage[2].Image && product.productImage[3].Image">
                                <ul class="pics">
                                    <li class="active">
                                        <a href="">
                                            <img  id="image-zero" ng-src="{{product.productImage[0].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img id="image-one" ng-src="{{product.productImage[1].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img id="image-two" ng-src="{{product.productImage[2].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img id="image-three" ng-src="{{product.productImage[3].Image}}" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
  <div ng-if="product.productImage[0].Image">
    <script type="text/javascript">
    $(document).ready(function() {
    $("#image-one").click(function() {
    $("#image-show-zero").hide();
    $("#image-show-two").hide();
    $("#image-show-three").hide();
    $("#image-show-one").show();
    $("ul.pics li").addClass('active');
    $("ul.pics li").removeClass('active');
    });
    $("#image-two").click(function() {
    $("#image-show-zero").hide();
    $("#image-show-one").hide();
    $("#image-show-three").hide();
    $("#image-show-two").show();
    $("ul.pics li").addClass('active');
    $("ul.pics li").removeClass('active');
    });
    $("#image-three").click(function() {
    $("#image-show-zero").hide();
    $("#image-show-one").hide();
    $("#image-show-two").hide();
    $("#image-show-three").show();
    $("ul.pics li").addClass('active');
    $("ul.pics li").removeClass('active');
    });
    $("#image-zero").click(function() {
    $("#image-show-three").hide();
    $("#image-show-one").hide();
    $("#image-show-two").hide();
    $("#image-show-zero").show();
    $("ul.pics li").addClass('active');
    $("ul.pics li").removeClass('active');
    });
    });
    </script>
  </div>
 <div class="tovar_view_description" ng-controller="GlobalCtrl">
                            <div class="tovar_view_title">{{product.productName}} <div class="hidden-xs  pull-right tovar_view_price" ng-if="!product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                            
                                <div class="hidden-xs pull-right tovar_view_price" ng-if="product.productMultiOptions && returnPrice(product) <= 0"><i style="font-size: 10px;position: absolute;top: 52px;">starting from&nbsp;&nbsp;</i>{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                 <div class="hidden-xs pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0">{{SettingGeneral.settings.currencies_format}} {{returnPrice(product)}}</div>
                                  </div>
                            <div class="tovar_article">{{product.productSKU}}<strike ng-if="product.productPriceCompare" style="text-align: right;display: inherit;margin-top: -10px;font-size: 13px;">({{SettingGeneral.settings.currencies_format}} {{product.productPriceCompare}})</strike></div>

                            <div class="clearfix tovar_brend_price">
                          
                               
                                <div class="pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 "><h4 ng-if="!returnPrice(product)">This Combination is Not Available</h4></div>
                                <div class="clearfix"></div>
                                <div class="prod-description"  ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : popupProductUrl}">
                               
                                <p class="no-margin-para" ng-bind-html="product.productDescription" style="margin: 0;height: 100px;overflow-y: auto;overflow-x: hidden;"></p>
                                 <a ng-if="product.productMultiOptions" ng-click="product.productVarientModel = {};" onclick="$('.attributes_{{product.Index}}').removeAttr('checked');" href="javascript:void(0)"style="float: right;font-size: 16px;font-weight: bold;text-decoration: underline;padding-bottom: 4px;cursor: pointer !important;padding-right: 8px;" >Reset All</a>
                                </div>
                            </div>
                            <form name="addtoCart" ng-submit="addToCart(product.id,product,unclickProductPop());cartEffect();">
                                <div ng-if="product.productMultiOptions">
                                
                                    <div class="tovar_color_select"  ng-repeat="valueSize in product.productMultiOptionsList">
                                        <p>Select {{valueSize.name}}:</p>
                                        <span id="ck-button" ng-repeat="parms in valueSize.value" class="inline-span">
                                     <label class="checkbox-visible" ng-class="{'deactivate':RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)}">
                                     
                                            <input  ng-checked="product.productVarientModel[valueSize.name] == parms" ng-click="ResetVariendsModelBase(valueSize.name,parms,product.productVarientModel,product.Index)" class="attributes_{{product.Index}}" ng-disabled="RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)" type="checkbox"  value="{{parms}}" required style="margin-right:3px;margin-top: 5px;"><span>{{parms}}</span>
                                        </label>
                                    </span>
                                    </div>
                                </div>
                                <div class="tovar_view_btn">
                                    
                                    <div class="fancy-select">  

                                   
                                        <select class="basic" ng-model="product.productQuantity" type="number" required>
                                            <option>QTY</option>
                                            <option value="1">1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>

                                    </div>

                                    <div class="visible-xs pull-right tovar_view_price" ng-if="!product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                    
                                <div class="visible-xs pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0">{{SettingGeneral.settings.currencies_format}} {{returnPrice(product)}}</div>

                                    <!-- <button ng-if="!product.productMultiOptions" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart"></i>Add to bag</button> -->
                                     <button ng-if="product.productMultiOptions && returnPrice(product) <= 0" class="add_bag" type="submit" value="Add" style="opacity:0.7"><i class="fa fa-shopping-cart" ></i>Add to bag</button>
                                     <button ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0" class="add_bag" type="submit" value="Add" data-dismiss="modal"><i class="fa fa-shopping-cart"></i>Add to bag</button>
                                      <button ng-if="!product.productMultiOptions" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart" data-dismiss="modal"></i>Add to bag</button>
                                      <div class="hidden-xs pull-right tovar_view_price price-multi" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0" >{{SettingGeneral.settings.currencies_format}} {{returnPrice(product)}}</div>
                                    
                                        <div class="clearfix"></div>
                                </div>
                            </form>

                            
                        </div>
</div>
<!-- //CLEARFIX -->
</div>
<!-- //TOVAR DETAILS WRAPPER -->
</div>
<!-- //ROW -->
</div>
<!-- //CONTAINER -->
</section>
<!-- //TOVAR DETAILS -->
</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){

var currentURL = document.URL;
var currentTitle = document.title;
function socialShare() {
var fbShare = document.getElementById("fbShare");
var gplusShare = document.getElementById("gplusShare");
var twitterShare = document.getElementById("twitterShare");
fbShare.onclick = function() {
window.open("https://www.facebook.com/sharer.php?u="+currentURL,"","height=368,width=600,left=100,top=100,menubar=0");
return false;
}
gplusShare.onclick = function() {
window.open("https://plus.google.com/share?url="+currentURL,"","height=550,width=525,left=100,top=100,menubar=0");
return false;
}
twitterShare.onclick = function() {
window.open("https://twitter.com/share?url="+currentURL+"&text="+currentTitle,"","height=260,width=500,left=100,top=100,menubar=0");
return false;
}
fbShare.setAttribute("href","http://www.facebook.com/sharer.php?u="+currentURL);
gplusShare.setAttribute("href","https://plus.google.com/share?url="+currentURL);
twitterShare.setAttribute("href","https://twitter.com/share?url="+currentURL+"&text="+currentTitle);
}

});
</script>
</div>
<script type="text/javascript">
jQuery(document).ready(function() {
jQuery('.shopping_bag .cart').hide();
// toggle variable sizes of all elements
$('#toggle-sizes').find('a.view_full').click(function() {
$('a.view_box').removeClass('active');
$(this).addClass('active');
$('.shop_block').addClass('variable-sizes').isotope('reLayout');
return false;
});
$('#toggle-sizes').find('a.view_box').click(function() {
$('a.view_full').removeClass('active');
$(this).addClass('active');
$('.shop_block').removeClass('variable-sizes').isotope('reLayout');
return false;
});
});
$(document).ready(function() {
if ($(window).width() > 10){
jQuery('.flexslider.top_slider .slides li').parallax("50%", -0.5);
jQuery('.parallax').parallax("50%", -0.5);
}

});
$('header .navmenu').fadeOut();
</script>