<style type="text/css">
#slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
}
#slider ul {
    position: relative;
   margin-top: 16px;
    padding: 0;
    height: 200px;
    list-style: none;
    width: 2370px;
}
#slider ul li {
    position: relative;
    display:inline-block;
    float: left;
    margin: 0;
    padding: 0;
    width: 170px;
    height: auto;
    text-align: center;
    line-height: 300px;
    margin-right: 30px;
     -webkit-transition: 3s;
}
#slider ul li:last-child {
margin-right:0px;    
}
a.control_prev, a.control_next {
    z-index: 100;
    top: -50px;
    display: block;
    width: 24px;
    height: 24px;
    font-family: FontAwesome;
    text-align: center;
    line-height: 19px;
    font-size: 17px;
    color: #999;
    border: 2px solid #ccc;
    display: inline-block;
}
a.control_prev:hover, a.control_next:hover {
    opacity: 1;
}
a.control_prev {
    border-radius: 0 2px 2px 0;
}
a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}
.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

</style>    
    <!-- HOME -->
        <section id="home" class="padbot0">
                
            <!-- TOP SLIDER -->
            <div class="flexslider top_slider">
                <ul class="slides">
                    <li class="slide1">
                     <div style="background: url({{ThemeSettings.theme_settings.slide_6_img}}) no-repeat;background-size:cover;">
                        
                        <!-- CONTAINER -->
                        <div class="container" >
                            <div class="flex_caption1">
                                <p class="title1 captionDelay2 FromTop">mega sell</p>
                                <p class="title2 captionDelay3 FromTop">last week of sales</p>
                            </div>
                            <a class="flex_caption2" href="{{ThemeSettings.theme_settings.slide_3_link}}" ><div class="middle"><span>shop</span>now</div></a>
                            <div class="flex_caption3 slide_banner_wrapper">
                                <a ng-if="ThemeSettings.theme_settings.slide_3_img" class="slide_banner slide1_banner1 captionDelay4 FromBottom"><img src="{{ThemeSettings.theme_settings.slide_3_img}}" alt="" /></a>
                                <!-- <a ng-if="!ThemeSettings.theme_settings.slide_3_img" class="slide_banner slide1_banner1 captionDelay4 FromBottom"><img src="{{BaseUrl}}img/theme/slider/slide1_baner1.jpg" alt="" /></a> -->
                                <a ng-if="ThemeSettings.theme_settings.slide_4_img" class="slide_banner slide1_banner2 captionDelay5 FromBottom"><img src="{{ThemeSettings.theme_settings.slide_4_img}}" alt="" /></a>
                                 <!-- <a ng-if="!ThemeSettings.theme_settings.slide_4_img" class="slide_banner slide1_banner2 captionDelay5 FromBottom"><img src="{{BaseUrl}}img/theme/slider/slide1_baner2.jpg" alt="" /></a> -->
                                <a ng-if="ThemeSettings.theme_settings.slide_5_img" class="slide_banner slide1_banner3 captionDelay6 FromBottom"><img src="{{ThemeSettings.theme_settings.slide_5_img}}" alt="" /></a>
                                <!-- <a ng-if="!ThemeSettings.theme_settings.slide_5_img" class="slide_banner slide1_banner3 captionDelay6 FromBottom"><img src="{{BaseUrl}}img/theme/slider/slide1_baner3.jpg" alt="" /></a> -->
                            </div>
                        </div><!-- //CONTAINER -->
                        </div>
                    </li>
                    
                    <li class="slide2">
                        <div style="background: url({{ThemeSettings.theme_settings.slide_7_img}}) no-repeat;background-size:cover;">
                        <!-- CONTAINER -->
                        <div class="container">
                            <div class="flex_caption1">
                                <p class="title1 captionDelay2 FromTop">mega sell</p>
                                <p class="title2 captionDelay3 FromTop">last week of sales</p>
                            </div>
                            <a class="flex_caption2" href="{{ThemeSettings.theme_settings.slide_3_link}}" ><div class="middle"><span>shop</span>now</div></a>
                            <div class="flex_caption3 slide_banner_wrapper">
                                 <a ng-if="ThemeSettings.theme_settings.slide_3_img" class="slide_banner slide1_banner1 captionDelay4 FromBottom"><img src="{{ThemeSettings.theme_settings.slide_3_img}}" alt="" /></a>
                                <!-- <a ng-if="!ThemeSettings.theme_settings.slide_3_img" class="slide_banner slide1_banner1 captionDelay4 FromBottom"><img src="{{BaseUrl}}img/theme/slider/slide1_baner1.jpg" alt="" /></a> -->
                                <a ng-if="ThemeSettings.theme_settings.slide_5_img" class="slide_banner slide1_banner3 captionDelay6 FromBottom"><img src="{{ThemeSettings.theme_settings.slide_5_img}}" alt="" /></a>
                               <!--  <a ng-if="!ThemeSettings.theme_settings.slide_5_img" class="slide_banner slide1_banner3 captionDelay6 FromBottom"><img src="{{BaseUrl}}img/theme/slider/slide1_baner3.jpg" alt="" /></a> -->
                                 <a ng-if="ThemeSettings.theme_settings.slide_4_img" class="slide_banner slide1_banner2 captionDelay5 FromBottom"><img src="{{ThemeSettings.theme_settings.slide_4_img}}" alt="" /></a>
                                <!--  <a ng-if="!ThemeSettings.theme_settings.slide_4_img" class="slide_banner slide1_banner2 captionDelay5 FromBottom"><img src="{{BaseUrl}}img/theme/slider/slide1_baner2.jpg" alt="" /></a> -->
                            </div>
                        </div><!-- //CONTAINER -->
                        </div>
                    </li>
                    
                </ul>
            </div><!-- //TOP SLIDER -->
        </section><!-- //HOME -->
        
        
        <!-- TOVAR SECTION -->
        <section class="tovar_section">
            
            <!-- CONTAINER -->
            <div class="container" ng-repeat="collection in ListCollection  | filter:{collectionName:'Frontpage'}">
                <h2 ng-if="(ListProduct| CustomFilter:{collection:'Frontpage'} ).length != '0'" >{{collection.collectionName}} Collection</h2>
                
                  <!-- ROW -->
                          <div class="row shop_block">
                      <div ng-repeat="collection in ListCollection  | filter:{collectionName:'Frontpage'}">
                        <div>

                            <div>

                                <div class="tovar_wrapper col-lg-3 col-md-3 col-sm-4 col-xs-6 col-ss-12 padbot40" ng-repeat="products in ListProduct | CustomFilter:{collection:'Frontpage'} | limitTo:8">

                                    <div class="tovar_item clearfix">

                                        <div class="tovar_img" ng-controller="ModalDemoCtrl" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}">
                                            <a href="/product/{{products.productUrl}}">
                                            <div class="tovar_img_wrapper">
                                            
                                                <img ng-if="products.productImage[0].Image" alt="{{products.productName}}" ng-src="{{products.productImage[0].Image}}"
                                                >
                                            
                                               

                                               
                                            </div>
                                            </a>
                                            <div class="tovar_item_btns">
                                                <div class="open-project-link" ng-controller="GlobalCtrl">
                                                    <a class="open-project tovar_view" ng-click="preproduct(products.productUrl);open('lg')">quick view</a>

                                                    <form  name="addtoCart" ng-submit="addToCart(products.id,products);" style="display:inline-block;">
                                                        <button class="cart-btn fa fa-shopping-cart" type="submit" name="submit"></button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="tovar_description clearfix">
                                            <a class="tovar_title" href="/product/{{products.productUrl}}">{{products.productName}}</a>

                                            <span ng-if="!products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>

                                            <span ng-if="products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>

                                        </div>
                                        <div class="tovar_content">What makes our cashmere so special? We start with the finest yarns from an Italian mill known for producing some of the softest cashmere out there.</div>
                                    </div>

                                    <div ng-if="">
                                     <h2>This collection doesn't have any products.</h2>
                                        
                                    </div>
                                </div>
                            </div>









                        </div>
                        </div>
                    </div>
                
                <!-- ROW -->
                <div class="row">
                    
                    <!-- BANNER WRAPPER -->
                    <div class="banner_wrapper" data-appear-top-offset='-100' data-animated='fadeInUp'>
                        <!-- BANNER -->
                        <div class="col-lg-9 col-md-9">
                            <a  ng-if="ThemeSettings.theme_settings.slide_9_img" class="banner type4 margbot40" href="{{ThemeSettings.theme_settings.slide_9_link}}" ><img src="{{ThemeSettings.theme_settings.slide_9_img}}" alt="" /></a>
                            <a ng-if="!ThemeSettings.theme_settings.slide_9_img" class="banner type4 margbot40" href="{{ThemeSettings.theme_settings.slide_9_link}}" ><img src="{{BaseUrl}}img/theme/tovar/banner4.jpg" alt="" /></a>
                        </div><!-- //BANNER -->
                        
                        <!-- BANNER -->
                        <div class="col-lg-3 col-md-3">
                            <a ng-if="ThemeSettings.theme_settings.slide_10_img" class="banner type4 margbot40" href="{{ThemeSettings.theme_settings.slide_10_link}}" target="_blank"><img src="{{ThemeSettings.theme_settings.slide_10_img}}" alt="" /></a>
                            <a ng-if="!ThemeSettings.theme_settings.slide_10_img" class="banner type4 margbot40" href="{{ThemeSettings.theme_settings.slide_9_link}}" ><img src="{{BaseUrl}}img/theme/tovar/banner5.jpg" alt="" /></a>
                        </div><!-- //BANNER -->
                    </div><!-- //BANNER WRAPPER -->
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </section><!-- //TOVAR SECTION -->
        
        
<div class="container">
 <h2 style="margin:0;float:left;">Featured Products</h2>
<div class="jCarousel_pagination">
        <a href="#" id="prev"><i class="fa fa-angle-left"></i></a>
        <a href="#" id="more"><i class="fa fa-angle-right"></i></a>
    </div>
    <div id="slider">
         <ul ng-if="ThemeSettings.theme_settings.enable_featuredproduct">
                <div ng-repeat="(ThemeId,ThemeFeature) in ThemeSettings.theme_settings.featuredproduct track by $index">
                    <div ng-if="ThemeFeature">          
                        <div ng-repeat="collection in ListCollection | filter:{collectionName:SearchCollection}">
                            <div ng-show="(collection.id == ThemeId)">
                                <li  ng-repeat="(prodID,products) in ListProduct | CustomFilter:{collection:collection.collectionName} | limitTo:12">
                                    <div class="tovar_item_new" >
                                        <div class="tovar_img" ng-controller="ModalDemoCtrl">
                                            <img ng-if="products.productImage[0].Image" ng-src="{{products.productImage[0].Image}}" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}" />

                                            <div class="open-project-link" ng-controller="GlobalCtrl"><a class="open-project tovar_view" ng-click="preproduct(products.productUrl);open('lg')">quick view</a>
                                            </div>
                                        </div>
                                        <div class="tovar_description clearfix" style="text-align: left;">
                                            <a class="tovar_title" href="/product/{{products.productUrl}}">{{products.productName}}</a>

                                            <span ng-if="!products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                                        </div>
                                    </div>
                                    <!-- //TOVAR -->
                                </li>
                            </div>
                        </div>
                    </div> 
                </div>
        </ul>
        <ul ng-if="!ThemeSettings.theme_settings.enable_featuredproduct">
           <div ng-repeat="collection in ListCollection  | filter:{collectionName:'Frontpage'}">
            <li ng-repeat="products in ListProduct | CustomFilter:{collection:'Frontpage'}">
                <div class="tovar_item_new">
                    <div class="tovar_img" ng-controller="ModalDemoCtrl">
                        <img ng-if="products.productImage[0].Image" ng-src="{{products.productImage[0].Image}}" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}" />

                        <div class="open-project-link" ng-controller="GlobalCtrl"><a class="open-project tovar_view" ng-click="preproduct(products.productUrl);open('lg')">quick view</a>
                        </div>
                    </div>
                    <div class="tovar_description clearfix">
                        <a class="tovar_title" href="/product/{{products.productUrl}}">{{products.productName}}</a>

                        <span ng-if="!products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                    </div>
                </div>
                <!-- //TOVAR -->
            </li>
            </div>
        </ul>
        </div> 
</div>
        
        
    
        
        
        <hr class="container">
        
        
        <!-- SERVICES SECTION -->
        <section class="services_section">
            
            <!-- CONTAINER -->
            <div class="container">
                
                <!-- ROW -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 padbot60 services_section_description" data-appear-top-offset='-100' data-animated='fadeInLeft'>
                        <p>We empower WordPress developers with design-driven themes and a classy experience their clients will just love</p>
                        <span>Gluten-free quinoa selfies carles, kogi gentrify retro marfa viral. Odd future photo booth flannel ethnic pug, occupy keffiyeh synth blue bottle tofu tonx iphone. Blue bottle 90′s vice trust fund gastropub gentrify retro marfa viral</span>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 padbot30" data-appear-top-offset='-100' data-animated='fadeInRight'>
                        
                        <!-- ROW -->
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 col-ss-12 padbot30">
                                <div class="service_item">
                                    <div class="clearfix"><i class="fa fa-tablet"></i><p>Responsive Theme</p></div>
                                    <span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 col-ss-12 padbot30">
                                <div class="service_item">
                                    <div class="clearfix"><i class="fa fa-comments-o"></i><p>Free Support</p></div>
                                    <span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 col-ss-12 padbot30">
                                <div class="service_item">
                                    <div class="clearfix"><i class="fa fa-eye"></i><p>Retina Ready</p></div>
                                    <span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6 col-ss-12 padbot30">
                                <div class="service_item">
                                    <div class="clearfix"><i class="fa fa-cogs"></i><p>Easy Customize</p></div>
                                    <span>Thundercats squid single-origin coffee YOLO selfies disrupt, master cleanse semiotics letterpress typewriter.</span>
                                </div>
                            </div>
                        </div><!-- //ROW -->
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </section><!-- //SERVICES SECTION -->
        
        
        <hr class="container">
        
        
        <!-- RECENT POSTS -->
        <section class="recent_posts padbot30">
            
            <!-- CONTAINER -->
            <div class="container">
                <h2>New blog posts</h2>
                
                <!-- ROW -->
                <div class="row" data-appear-top-offset='-100' data-animated='fadeInUp'>
                    <div class="col-lg-6 col-md-6 padbot30">
                        <div class="recent_post_item clearfix">
                            <div class="recent_post_date">15<span>oct</span></div>
                            <a class="recent_post_img" href="blog-post.html" ><img src="{{BaseUrl}}img/theme/blog/recent1.jpg" alt="" /></a>
                            <a class="recent_post_title" href="blog-post.html" >Be Unafraid, Self-Hosted WordPress Is WAY Easier Nowadays</a>
                            <div class="recent_post_content">The beauty of self-hosted WordPress, is that you can build your site however you like, want to add forums to your website? Done. Want to add a ecommerce to your blog? Done.</div>
                            <ul class="post_meta">
                                <li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 padbot30">
                        <div class="recent_post_item clearfix">
                            <div class="recent_post_date">07<span>dec</span></div>
                            <a class="recent_post_img" href="blog-post.html" ><img src="{{BaseUrl}}img/theme/blog/recent2.jpg" alt="" /></a>
                            <a class="recent_post_title" href="blog-post.html" >True Story: I Went Two Weeks Without Social Media</a>
                            <div class="recent_post_content">Since I began blogging 5.5 years ago, social media (and my blog) have taken hold on my life. I’ve been an early adopter for most major networks and use them extensively.  This past year I’ve been overwhelmed.</div>
                            <ul class="post_meta">
                                <li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
                            </ul>
                        </div>
                    </div>
                </div><!-- //ROW -->
            </div><!-- //CONTAINER -->
        </section><!-- //RECENT POSTS -->
    <script type="text/javascript">
    /*-----------------------------------------------------------------------------------*/
    /*  FLEXSLIDER
    /*-----------------------------------------------------------------------------------*/
    $(document).ready(function() {
        //Top Slider
        $('.flexslider.top_slider').flexslider({
            animation: "fade",
            controlNav: true,
            directionNav: false,
            prevText: "",
            nextText: ""
        });

         jQuery('.shopping_bag .cart').hide();
        //Top Slider BG
        jQuery('.flexslider.top_slider li img.slide_bg').each(function() {
            jQuery(this).parent().attr('style', 'background-image:url(' + $(this).attr('src') + ');');
        });


        //Tovar View Carousel
        $('#carousel2').flexslider({
            animation: "slide",
            controlNav: false,
            directionNav: false,
            animationLoop: false,
            slideshow: false,
            direction: "vertical",
            asNavFor: '#slider2'
        });
        $('#slider2').flexslider({
            animation: "fade",
            controlNav: false,
            directionNav: false,
            animationLoop: false,
            slideshow: false,
            sync: "#carousel2"
        });
        jQuery('#carousel2 .slides li').click(function() {
            $('#carousel2 .slides li').removeClass('flex-active-slide');
            $(this).addClass('flex-active-slide');
            return false;
        });



        //Article Slider
        $('.flexslider.article_slider').flexslider({
            animation: "fade",
            controlNav: true,
            directionNav: false,
            prevText: "",
            nextText: ""
        });


    });
    
    </script>
<div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
        <div id="tovar_content">
    <div class="tover_view_page element_fade_in hidden-xs">
        <div class="tover_view_header clearfix">
            <p>Quick view
            </p>
            <a ng-click="cancel()" style="float: right;">Close<i style="border: 1px solid black;padding-left: 4px;padding-right:4px;margin-left: 6px;cursor: pointer;">X</i> </a>
        </div>

             <!-- TOVAR DETAILS -->
    <section class="tovar_details">
        <!-- CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                
                <!-- TOVAR DETAILS WRAPPER -->
                <div class="product-popup tovar_details_wrapper clearfix">
                    

                    <!-- CLEARFIX -->
                    <div class="clearfix padbot30  hidden-xs" ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : popupProductUrl}">
                        <div class="tovar_view_fotos clearfix">
                            <div id="slider2" class="flexslider">
                                <ul class="slides">
                                    <li style="margin-left:6%;">
                                        <a href="javascript:void(0);">
                                            <img ng-if="product.productImage[0].Image" src="{{product.productImage[0].Image}}" alt="" />
                                            
                                        </a>
                                    </li>
                                </ul>
                            </div>
                           
                        </div>

                      <div class="tovar_view_description" ng-controller="GlobalCtrl">
                            <div class="tovar_view_title">{{product.productName}}</div>
                            <div class="tovar_article">{{product.productSKU}}</div>

                            <div class="clearfix tovar_brend_price">
                            <div class="pull-left tovar_brend">{{product.ProductVendorName}}</div>
                                <div class="pull-right tovar_view_price" ng-if="!product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                <div class="pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 ">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                <div class="pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 "><h4 ng-if="!returnPrice(product)">This Combination is Not Available</h4></div>
                                <div class="clearfix"></div>
                                <div class="prod-description"  ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : popupProductUrl}">
                                <h2 ng-if="product.productDescription" style="font-weight:bold;">Description</h2>
                                <p class="no-margin-para" ng-bind-html="product.productDescription"></p>
                                 <a ng-if="product.productMultiOptions" ng-click="product.productVarientModel = {};" onclick="$('.attributes_{{product.Index}}').removeAttr('checked');" href="javascript:void(0)"style="float: right;font-size: 16px;font-weight: bold;text-decoration: underline;padding-bottom: 4px;cursor: pointer !important;" >Reset All</a>
                                </div>
                            </div>
                            <form name="addtoCart" ng-submit="addToCart(product.id,product,cancel());cartEffect();">
                                <div ng-if="product.productMultiOptions">
                                
                                    <div class="tovar_color_select"  ng-repeat="valueSize in product.productMultiOptionsList">
                                        <p>Select {{valueSize.name}}:</p>
                                        <span ng-repeat="parms in valueSize.value" class="inline-span">
                                     <label class="checkbox-visible" ng-class="{'deactivate':RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)}">
                                            <input ng-checked="product.productVarientModel[valueSize.name] == parms" ng-click="ResetVariendsModelBase(valueSize.name,parms,product.productVarientModel,product.Index)" class="attributes_{{product.Index}}" ng-disabled="RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)" type="checkbox" id="categorymanufacturer1"  value="{{parms}}" required style="margin-right:3px;margin-top: 5px;">{{parms}}
                                        </label>
                                    </span>
                                    </div>
                                </div>
                                <div class="tovar_view_btn">
                                    
                                    <div class="fancy-select">  

                                   
                                        <select class="basic" ng-model="product.productQuantity" type="number">
                                            <option>QTY</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>

                                    </div>
                                    <button ng-if="!product.productMultiOptions" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart"></i>Add to bag</button>
                                     <button ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart"></i>Add to bag</button>
                                    
                                        <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- //CLEARFIX -->
                </div>
                <!-- //TOVAR DETAILS WRAPPER -->
            </div>
            <!-- //ROW -->
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //TOVAR DETAILS -->

    </div>
</div>
</script>  
<script type="text/javascript">

jQuery('.shopping_bag .cart').hide();
$('header .navmenu').fadeOut();
$("#more").click(function(){
  $("#slider").animate({scrollLeft: "+=400"}, 500, "swing");
});

$("#prev").click(function(){
  $("#slider").animate({scrollLeft: "-=400"}, 500, "swing");
});
</script>
