<style type="text/css">

</style>
<div id="page" ng-init="InitProduct();product.productVarientModel = {};">
    <!-- BREADCRUMBS -->
    <section ng-if="ThemeSettings.theme_settings.slide_collection_2_img" class="breadcrumb parallax margbot30" ng-style="{'background': 'url({{ThemeSettings.theme_settings.slide_collection_2_img}}) no-repeat','background-size':'cover'}"></section>

     <section ng-if="!ThemeSettings.theme_settings.slide_collection_2_img" class="breadcrumb parallax margbot30"></section>
    <!-- //BREADCRUMBS -->
    <!-- TOVAR DETAILS -->
    <section class="tovar_details padbot70" >
        <!-- CONTAINER -->
        <div class="container">
            <!-- ROW -->
            <div class="row">
                <!-- TOVAR DETAILS WRAPPER -->
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 tovar_details_wrapper clearfix">

                        <div class="tovar_details_header clearfix margbot35" ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : routeParam}">
                            <h3 class="pull-left"><b>{{product.productName}}</b></h3>
                            
                            
                        </div>
                    

                    <!-- CLEARFIX -->
                    <div class="clearfix padbot30" ng-repeat="(prodID,product) in ListProduct | CustomFilter:{productUrl : routeParam}">
                        <div class="tovar_view_fotos clearfix">
                         
                            <div class="slider-product">
                                <ul style="border: 1px solid lightgray;">
                                    <li>
                                        <a>
                                            <img id="image-show-zero" ng-if="product.productImage[0].Image" ng-src="{{product.productImage[0].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-one" ng-src="{{product.productImage[1].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                           
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-two" ng-src="{{product.productImage[2].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                           
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-three" ng-src="{{product.productImage[3].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                           
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="slider-products-2" ng-if="product.productImage[0].Image &&product.productImage[1].Image && product.productImage[2].Image && product.productImage[3].Image">
                                <ul class="pics">
                                    <li class="active">
                                        <a href="">
                                            <img class="image-1 active" id="image-zero" ng-src="{{product.productImage[0].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img class="image-2" id="image-one" ng-src="{{product.productImage[1].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img class="image-3" id="image-two" ng-src="{{product.productImage[2].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img class="image-4" id="image-three" ng-src="{{product.productImage[3].Image}}" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="product.productImage[0].Image">
                            <script type="text/javascript">
                                $(document).ready(function() {
                                    $("#image-one").click(function() {
                                        $("#image-show-zero").hide();
                                        $("#image-show-two").hide();
                                        $("#image-show-three").hide();
                                        $("#image-show-one").show();
                                        $(".image-2").addClass("active");
                                        $(".image-1").removeClass("active");
                                        $(".image-3").removeClass("active");
                                        $(".image-4").removeClass("active");

                                    });
                                    $("#image-two").click(function() {
                                        $("#image-show-zero").hide();
                                        $("#image-show-one").hide();
                                        $("#image-show-three").hide();
                                        $("#image-show-two").show();
                                        $(".image-3").addClass("active");
                                        $(".image-1").removeClass("active");
                                        $(".image-2").removeClass("active");
                                        $(".image-4").removeClass("active");


                                    });
                                    $("#image-three").click(function() {
                                        $("#image-show-zero").hide();
                                        $("#image-show-one").hide();
                                        $("#image-show-two").hide();
                                        $("#image-show-three").show();
                                        $(".image-4").addClass("active");
                                        $(".image-1").removeClass("active");
                                        $(".image-2").removeClass("active");
                                        $(".image-3").removeClass("active");

                                    });
                                    $("#image-zero").click(function() {
                                        $("#image-show-three").hide();
                                        $("#image-show-one").hide();
                                        $("#image-show-two").hide();
                                        $("#image-show-zero").show();
                                        $(".image-1").addClass("active");
                                        $(".image-2").removeClass("active");
                                        $(".image-3").removeClass("active");
                                        $(".image-4").removeClass("active");

                                    });
                                });
                            </script>
                        </div>

                        <div class="tovar_view_description" ng-controller="GlobalCtrl">
                            <div class="tovar_view_title">{{product.productName}} <div class="hidden-xs  pull-right tovar_view_price" ng-if="!product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                            
                                <div class="hidden-xs pull-right tovar_view_price" ng-if="product.productMultiOptions && returnPrice(product) <= 0"><i style="font-size: 10px;position: absolute;top: 65px;">starting from&nbsp;&nbsp;</i>{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                 <div class="hidden-xs pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0">{{SettingGeneral.settings.currencies_format}} {{returnPrice(product)}}</div>
                                  </div>

                            <div class="tovar_article">{{product.productSKU}}<strike ng-if="product.productPriceCompare" style="text-align: right;display: inherit;margin-top: -10px;font-size: 13px;">({{SettingGeneral.settings.currencies_format}} {{product.productPriceCompare}})</strike></div>

                            <div class="clearfix tovar_brend_price">
                            
                               
                                <div class="pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 "><h4 ng-if="!returnPrice(product)">This Combination is Not Available</h4></div>
                                <div class="clearfix"></div>
                                <div class="prod-description"  ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : routeParam}">
                               
                                <p class="no-margin-para" ng-bind-html="product.productDescription"></p>
                                 <a ng-if="product.productMultiOptions" ng-click="product.productVarientModel = {};" onclick="$('.attributes_{{product.Index}}').removeAttr('checked');" href="javascript:void(0)"style="float: right;font-size: 16px;font-weight: bold;text-decoration: underline;padding-bottom: 4px;cursor: pointer !important;" >Reset All</a>
                                </div>
                            </div>
                            <form name="addtoCart" ng-submit="addToCart(product.id,product);cartEffect();">
                                <div ng-if="product.productMultiOptions">
                                
                                    <div class="tovar_color_select"  ng-repeat="valueSize in product.productMultiOptionsList">
                                        <p>Select {{valueSize.name}}:</p>
                                        <span id="ck-button" ng-repeat="parms in valueSize.value" class="inline-span">
                                     <label class="checkbox-visible" ng-class="{'deactivate':RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)}">
                                     
                                            <input  ng-checked="product.productVarientModel[valueSize.name] == parms" ng-click="ResetVariendsModelBase(valueSize.name,parms,product.productVarientModel,product.Index)" class="attributes_{{product.Index}}" ng-disabled="RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)" type="checkbox"  value="{{parms}}" required style="margin-right:3px;margin-top: 5px;"><span>{{parms}}</span>
                                        </label>
                                    </span>
                                    </div>
                                </div>
                                <div class="tovar_view_btn">
                                    
                                    <div class="fancy-select">  

                                   
                                        <select class="basic" ng-model="product.productQuantity" type="number" required>
                                            <option>QTY</option>
                                            <option value="1">1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>

                                    </div>

                                    <div class="visible-xs pull-right tovar_view_price" ng-if="!product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                     <div class="visible-xs pull-right tovar_view_price" ng-if="product.productPriceCompare"  style="font-size: 13px;"><strike>({{SettingGeneral.settings.currencies_format}} {{product.productPriceCompare}})</strike></div>
                                <div class="visible-xs pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0">{{SettingGeneral.settings.currencies_format}} {{returnPrice(product)}}</div>
                                    <!-- <button ng-if="!product.productMultiOptions" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart"></i>Add to bag</button> -->
                                       <button ng-if="product.productMultiOptions && returnPrice(product) <= 0" class="add_bag" type="submit" value="Add" style="opacity:0.7"><i class="fa fa-shopping-cart" ></i>Add to bag</button>
                                     <button ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0" class="add_bag" type="submit" value="Add" data-dismiss="modal"><i class="fa fa-shopping-cart"></i>Add to bag</button>
                                      <button ng-if="!product.productMultiOptions" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart" data-dismiss="modal"></i>Add to bag</button>
                                      <div class="hidden-xs pull-right tovar_view_price price-multi" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0">{{SettingGeneral.settings.currencies_format}} {{returnPrice(product)}}</div>
                                    
                                        <div class="clearfix"></div>
                                </div>
                            </form>

                            <div class="tovar_shared clearfix">
                                <p>Share item with friends</p>
                                <ul>
                                    <li><a id="fbShare" class="facebook"  target="_blank"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a id="twitterShare" class="twitter twitter-share-button"  class="" target="_blank"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a  id="gplusShare" class="google-plus" target="_blank"><i class="fa fa-google-plus"></i></a>
                                    </li>
   
                                
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- //CLEARFIX -->
                </div>
                <!-- //TOVAR DETAILS WRAPPER -->
                     <div class="col-lg-3 col-md-3 sidebar_tovar_details">
                    <h3><b>Related Products</b>
                    </h3>
                    <ul class="tovar_items_small clearfix">
                        <li class="clearfix" ng-repeat="products in ListProduct  | filter: {productType: product.productType} | limitTo:4" ng-show="products.productName != product.productName">
                        <a href="/product/{{products.productUrl}}">
                            <img ng-if="products.productImage[0].Image" class="tovar_item_small_img" ng-src="{{products.productImage[0].Image}}" alt="" />
                            
                         </a>   
                            <a ng-if="products.productName != product.productName" href="/product/{{products.productUrl}}" class="tovar_item_small_title">{{products.productName}}</a>
                            <span ng-if="!products.productMultiOptions" class="tovar_item_small_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                            <span ng-if="products.productMultiOptions" class="tovar_item_small_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                        </li>
                    </ul>
                </div>
            </div>

         


            <!-- //ROW -->
        </div>
        <!-- //CONTAINER -->
    </section>
    <!-- //TOVAR DETAILS -->


   
</div>

<script type="text/javascript">
    jQuery('.shopping_bag .cart').hide();
    $('header .navmenu').fadeOut();


   $(document).ready(function(){
   'use strict';

	var currentURL = document.URL;
	var currentTitle = document.title;

function socialShare() {
	var fbShare = document.getElementById("fbShare");
	var gplusShare = document.getElementById("gplusShare");
	var twitterShare = document.getElementById("twitterShare");
	
	fbShare.onclick = function() {
		window.open("https://www.facebook.com/sharer.php?u="+currentURL,"","height=368,width=600,left=100,top=100,menubar=0");
		return false;
	}
	gplusShare.onclick = function() {
		window.open("https://plus.google.com/share?url="+currentURL,"","height=550,width=525,left=100,top=100,menubar=0");
		return false;
	}	
	twitterShare.onclick = function() {
		window.open("https://twitter.com/share?url="+currentURL+"&text="+currentTitle,"","height=260,width=500,left=100,top=100,menubar=0");
		return false;
	}
	fbShare.setAttribute("href","http://www.facebook.com/sharer.php?u="+currentURL);
	gplusShare.setAttribute("href","https://plus.google.com/share?url="+currentURL);
	twitterShare.setAttribute("href","https://twitter.com/share?url="+currentURL+"&text="+currentTitle);
}

	socialShare();
	}); 



</script>

