<style type="text/css">
#slider {
position: relative;
overflow: hidden;
width: 100%;
border-radius: 4px;
}
#slider ul {
position: relative;
margin-top: 24px;
padding: 0;
height: 200px;
list-style: none;
}
#slider ul li {
position: relative;
display:inline-block;
float: left;
margin: 0;
padding: 0;
width: 170px;
height: 400px;
text-align: center;
line-height: 300px;
margin-right: 30px;
-webkit-transition: 3s;
}
#slider ul li:last-child {
margin-right:0px;
}
a.control_prev, a.control_next {
z-index: 100;
top: -50px;
display: block;
width: 24px;
height: 24px;
font-family: FontAwesome;
text-align: center;
line-height: 19px;
font-size: 17px;
color: #999;
border: 2px solid #ccc;
display: inline-block;
}
a.control_prev:hover, a.control_next:hover {
opacity: 1;
}
a.control_prev {
border-radius: 0 2px 2px 0;
}
a.control_next {
right: 0;
border-radius: 2px 0 0 2px;
}
.slider_option {
position: relative;
margin: 10px auto;
width: 160px;
font-size: 18px;
}
@media (max-width: 767px){
#tovar_content {
width: 90%;
}
iframe{
height: 400px;
margin: 0px !important;
}
}
</style>

<div id="page" style="display:block;">
    <!-- HOME -->
    <section id="home" class="padbot0 margbot40">
        
        <!-- TOP SLIDER -->
        <div class="flexslider top_slider sale_page">
            <ul class="slides">
                <li class="slide1" back-img="{{ThemeSettings.theme_settings.slide_1_img}}">
                    
                    <!-- CONTAINER -->
                    <div class="container">
                        <div class="sale_caption1">
                            <p class="title1 captionDelay2 FromTop">{{ThemeSettings.theme_settings.slide_1_caption_1}}</p>
                            <p class="title2 FromTop">{{ThemeSettings.theme_settings.slide_1_caption_2}}</p>
                            
                        </div>
                        </div><!-- //CONTAINER -->
                    </li>
                    
                    <li class="slide2" back-img="{{ThemeSettings.theme_settings.slide_2_img}}">
                        
                        <!-- CONTAINER -->
                        <div class="container">
                            <div class="sale_caption1">
                                <p class="title1 captionDelay2 FromTop">{{ThemeSettings.theme_settings.slide_2_caption_1}}</p>
                                <p class="title2 FromTop">{{ThemeSettings.theme_settings.slide_2_caption_2}}</p>
                                
                            </div>
                            </div><!-- //CONTAINER -->
                        </li>
                        
                    </ul>
                    </div><!-- //TOP SLIDER -->
                    </section><!-- //HOME -->
                    
                    <!-- BANNER SECTION -->
                    <section class="banner_section">
                        <!-- CONTAINER -->
                        <div class="container">
                            <!-- ROW -->
                            <div class="row">
                                <div class="top_sale_banners center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12">
                                        
                                        <!--   <h2 class="play-video-xs visible-xs"  ng-click="playVideo = true" data-toggle="modal" data-target="#myModal">Play Video</h2> -->
                                        <a ng-click="playVideo = true" data-toggle="modal" data-target="#myModal" class="banner nobord margbot30" style="cursor: pointer;">
                                            <img ng-if="ThemeSettings.theme_settings.slide_4_img" ng-src="{{ThemeSettings.theme_settings.slide_4_img}}" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}" />
                                            <!-- <img ng-if="!ThemeSettings.theme_settings.slide_4_img" ng-src="{{BaseUrl}}img/theme/slider/slide1_baner1.jpg" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}" /> -->
                                            <!--  <h2 class="play-video hidden-xs" ng-click="playVideo = true" data-toggle="modal" data-target="#myModal" style="">Play Video</h2>    -->
                                        </a>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 col-ss-12">
                                        <a class="banner nobord margbot30" href="{{ThemeSettings.theme_settings.slide_5_link}}">
                                            <img ng-if="ThemeSettings.theme_settings.slide_5_img" ng-src="{{ThemeSettings.theme_settings.slide_5_img}}" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}" />
                                            <!-- <img ng-if="!ThemeSettings.theme_settings.slide_5_img" ng-src="{{BaseUrl}}img/theme/slider/slide1_baner2.jpg" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}" /> -->
                                        </a>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 col-ss-12">
                                        <a class="banner nobord margbot30" href="{{ThemeSettings.theme_settings.slide_6_link}}">
                                            <img ng-if="ThemeSettings.theme_settings.slide_6_img" ng-src="{{ThemeSettings.theme_settings.slide_6_img}}" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}" />
                                           <!--  <img ng-if="!ThemeSettings.theme_settings.slide_6_img" ng-src="{{BaseUrl}}img/theme/slider/slide1_baner3.jpg" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}" /> -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- //ROW -->
                        </div>
                        <!-- //CONTAINER -->
                    </section>
                    <!-- //BANNER SECTION -->
                    <div class="container">
                        <h2 style="margin:0;float:left;">Featured Products</h2>
                        
                        <div class="jCarousel_pagination">
                            <a href="#" id="prev"><i class="fa fa-angle-left"></i></a>
                            <a href="#" id="more"><i class="fa fa-angle-right"></i></a>
                        </div>
                        <div id="slider">
                            <ul id="slider-length" ng-if="ThemeSettings.theme_settings.enable_featuredproduct" style="width: calc(246.4px*8);">
                                <div ng-repeat="(ThemeId,ThemeFeature) in ThemeSettings.theme_settings.featuredproduct track by $index">
                                    <div ng-if="ThemeFeature">
                                        <div ng-repeat="collection in ListCollection | filter:{collectionName:SearchCollection}">
                                            <div ng-show="(collection.id == ThemeId)">
                                                <li ng-repeat="(prodID,products) in ListProduct | CustomFilter:{collection:collection.collectionName} | limitTo:10">
                                                    <div class="tovar_item_new" >
                                                        <div class="tovar_img">
                                                        <a href="/product/{{products.productUrl}}">
                                                        <img class="visible-xs alternate-img-height" ng-if="products.productImage[0].Image" ng-src="{{products.productImage[0].Image}}" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}" />
                                                        </a>
                                                            <img class="hidden-xs alternate-img-height" ng-if="products.productImage[0].Image" ng-src="{{products.productImage[0].Image}}" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}" />
                                                            <div class="open-project-link" ng-controller="GlobalCtrl"><a class="open-project tovar_view" ng-click="preproduct(products.productUrl);clickProductPop();">quick view</a>
                                                        </div>
                                                    </div>
                                                    <div class="tovar_description clearfix" style="text-align: left;padding: 5px 0px 5px;margin-top:0px;">
                                                        <a class="tovar_title" href="/product/{{products.productUrl}}">{{products.productName}}</a>
                                                        <span ng-if="!products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                                                        <span class="tovar_price" ng-if="products.productPriceCompare" style="font-size: 10px;"><strike>({{SettingGeneral.settings.currencies_format}} {{products.productPriceCompare}})</strike></span>
                                                    </div>
                                                </div>
                                                <!-- //TOVAR -->
                                            </li>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                        <ul ng-if="!ThemeSettings.theme_settings.enable_featuredproduct">
                            <div ng-repeat="collection in ListCollection  | filter:{collectionName:'Frontpage'}">
                                <li ng-repeat="products in ListProduct | CustomFilter:{collection:'Frontpage'}">
                                    <div class="tovar_item_new">
                                        <div class="tovar_img">
                                            <img class="alternate-img-height" ng-if="products.productImage[0].Image" ng-src="{{products.productImage[0].Image}}" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat'}" />
                                            <div class="open-project-link" ng-controller="GlobalCtrl"><a class="open-project tovar_view"  ng-click="preproduct(products.productUrl);clickProductPop();">quick view</a>
                                        </div>
                                    </div>
                                    <div class="tovar_description clearfix" style="text-align: left;padding: 5px 0px 5px;margin-top:0px;">
                                        <a class="tovar_title" href="/product/{{products.productUrl}}">{{products.productName}}</a>
                                        <span ng-if="!products.productMultiOptions" class="tovar_price">{{SettingGeneral.settings.currencies_format}} {{products.productPrice}}</span>
                                        <span class="tovar_price" ng-if="products.productPriceCompare"  style="font-size: 13px;"><strike>({{SettingGeneral.settings.currencies_format}} {{products.productPriceCompare}})</strike></span>
                                    </div>
                                </div>
                                <!-- //TOVAR -->
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
            <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;">
                <div id="tovar_content" style="padding-bottom: 36px;padding-top: 11px;">
                    <a ng-click="playVideo = false" data-dismiss="modal" style="float: right;">Close<i style="border: 1px solid black;padding-left: 4px;padding-right:4px;margin-left: 6px;cursor: pointer;">X</i> </a>
                    <div class="tover_view_page element_fade_in" ng-if="playVideo">
                        <div class="clearfix">
                            <p style="margin: 0;margin-bottom: 10px;">Mausummery Lawn
                            </p>
                            
                        </div>
                        <!-- TOVAR DETAILS -->
                        <section class="tovar_details">
                            <!-- CONTAINER -->
                            <div class="container">
                                <!-- ROW -->
                                <div class="row">
                                    
                                    <!-- TOVAR DETAILS WRAPPER -->
                                    <div class="product-popup tovar_details_wrapper clearfix">
                                        
                                        <iframe  id="dominosVideo" ng-src="{{ThemeSettings.theme_settings.video_link}}?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=0" width="820" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                    <!-- //TOVAR DETAILS WRAPPER -->
                                </div>
                                <!-- //ROW -->
                            </div>
                            <!-- //CONTAINER -->
                        </section>
                        <!-- //TOVAR DETAILS -->
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript">
        /*-----------------------------------------------------------------------------------*/
        /*  FLEXSLIDER
        /*-----------------------------------------------------------------------------------*/
        $(document).ready(function() {
        //Top Slider
        $('.flexslider.top_slider').flexslider({
        animation: "fade",
        controlNav: true,
        directionNav: false,
        prevText: "",
        nextText: ""
        });
        jQuery('.shopping_bag .cart').hide();
        //Top Slider BG
        jQuery('.flexslider.top_slider li img.slide_bg').each(function() {
        jQuery(this).parent().attr('style', 'background-image:url(' + $(this).attr('src') + ');');
        });
       
        //Article Slider
        $('.flexslider.article_slider').flexslider({
        animation: "fade",
        controlNav: true,
        directionNav: false,
        prevText: "",
        nextText: ""
        });
        });
        </script>
        <script type="text/javascript">
        jQuery('.shopping_bag .cart').hide();
        $('header .navmenu').fadeOut();
        $("#more").click(function(){
        $("#slider").animate({scrollLeft: "+=200"}, 500, "swing");
        });
        $("#prev").click(function(){
        $("#slider").animate({scrollLeft: "-=200"}, 500, "swing");
        });
        $(function () {
        $('#myModal').modal({
        show: false,
        keyboard: false,
        backdrop: 'static'
        });
        });
        $(document).ready(function() {
        if ($(window).width() > 10){
        jQuery('.flexslider.top_slider .slides li').parallax("50%", -0.5);
        jQuery('.parallax').parallax("50%", -0.5);
        }
        
        });
        </script>

        <div  ng-show="productPop" class="popup">
<div id="tovar_content">
<div class="tover_view_page element_fade_in hidden-xs">
<div class="tover_view_header clearfix">
<p>Quick view
</p>
<a ng-click="unclickProductPop();" style="float: right;">Close<i style="border: 1px solid black;padding-left: 4px;padding-right:4px;margin-left: 6px;cursor: pointer;">X</i> </a>
</div>
<!-- TOVAR DETAILS -->
<section class="tovar_details">
<!-- CONTAINER -->
<div class="container">
<!-- ROW -->
<div class="row">

<!-- TOVAR DETAILS WRAPPER -->
<div class="product-popup tovar_details_wrapper clearfix">

<!-- CLEARFIX -->
<div class="clearfix padbot30  hidden-xs" ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : popupProductUrl}">
  <div class="tovar_view_fotos clearfix">
                            <div class="slider-product">
                                <ul style="border: 1px solid lightgray;">
                                    <li>
                                        <a>
                                            <img id="image-show-zero" ng-if="product.productImage[0].Image" ng-src="{{product.productImage[0].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                            
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-one" ng-src="{{product.productImage[1].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                           
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-two" ng-src="{{product.productImage[2].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                           
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <img id="image-show-three" ng-src="{{product.productImage[3].Image}}" alt="" ng-style="{'background':'url({{BaseUrl}}img/theme/preloader.gif) center no-repeat','width':'100%'}"/>
                                           
                                        </a>
                                    </li>
                                </ul>
                            </div>
                           <!--  <div class="slider-products-2" ng-if="product.productImage[0].Image &&product.productImage[1].Image && product.productImage[2].Image && product.productImage[3].Image">
                                <ul class="pics">
                                    <li class="active">
                                        <a href="">
                                            <img  id="image-zero" ng-src="{{product.productImage[0].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img id="image-one" ng-src="{{product.productImage[1].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img id="image-two" ng-src="{{product.productImage[2].Image}}" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img id="image-three" ng-src="{{product.productImage[3].Image}}" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                        </div>
  <div ng-if="product.productImage[0].Image">
    <script type="text/javascript">
    $(document).ready(function() {
    $("#image-one").click(function() {
    $("#image-show-zero").hide();
    $("#image-show-two").hide();
    $("#image-show-three").hide();
    $("#image-show-one").show();
    $("ul.pics li").addClass('active');
    $("ul.pics li").removeClass('active');
    });
    $("#image-two").click(function() {
    $("#image-show-zero").hide();
    $("#image-show-one").hide();
    $("#image-show-three").hide();
    $("#image-show-two").show();
    $("ul.pics li").addClass('active');
    $("ul.pics li").removeClass('active');
    });
    $("#image-three").click(function() {
    $("#image-show-zero").hide();
    $("#image-show-one").hide();
    $("#image-show-two").hide();
    $("#image-show-three").show();
    $("ul.pics li").addClass('active');
    $("ul.pics li").removeClass('active');
    });
    $("#image-zero").click(function() {
    $("#image-show-three").hide();
    $("#image-show-one").hide();
    $("#image-show-two").hide();
    $("#image-show-zero").show();
    $("ul.pics li").addClass('active');
    $("ul.pics li").removeClass('active');
    });
    });
    </script>
  </div>
 <div class="tovar_view_description" ng-controller="GlobalCtrl">
  <div class="tovar_view_title">{{product.productName}} <div class="hidden-xs  pull-right tovar_view_price" ng-if="!product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                            
                                <div class="hidden-xs pull-right tovar_view_price" ng-if="product.productMultiOptions && returnPrice(product) <= 0"><i style="font-size: 10px;position: absolute;top: 52px;">starting from&nbsp;&nbsp;</i>{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                 <div class="hidden-xs pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0">{{SettingGeneral.settings.currencies_format}} {{returnPrice(product)}}</div>
                                  </div>
                            <div class="tovar_article">{{product.productSKU}}<strike ng-if="product.productPriceCompare" style="text-align: right;display: inherit;margin-top: -10px;font-size: 13px;">({{SettingGeneral.settings.currencies_format}} {{product.productPriceCompare}})</strike></div>
    <div class="clearfix tovar_brend_price">
      
      
      <div class="pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0 "><h4 ng-if="!returnPrice(product)">This Combination is Not Available</h4></div>
      <div class="clearfix"></div>
      <div class="prod-description"  ng-repeat="(key,product) in ListProduct | CustomFilter:{productUrl : popupProductUrl}">
       
        <p class="no-margin-para" ng-bind-html="product.productDescription" style="margin: 0;height: 100px;overflow-y: auto;overflow-x: hidden;"></p>
        <a ng-if="product.productMultiOptions" ng-click="product.productVarientModel = {};" onclick="$('.attributes_{{product.Index}}').removeAttr('checked');" href="javascript:void(0)"style="float: right;font-size: 16px;font-weight: bold;text-decoration: underline;padding-bottom: 4px;cursor: pointer !important;padding-right: 20px;">Reset All</a>
      </div>
    </div>
    <form name="addtoCart" ng-submit="addToCart(product.id,product,unclickProductPop());cartEffect();">
      <div ng-if="product.productMultiOptions">
                                
                                    <div class="tovar_color_select"  ng-repeat="valueSize in product.productMultiOptionsList">
                                        <p>Select {{valueSize.name}}:</p>
                                        <span id="ck-button" ng-repeat="parms in valueSize.value" class="inline-span">
                                     <label class="checkbox-visible" ng-class="{'deactivate':RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)}">
                                     
                                            <input  ng-checked="product.productVarientModel[valueSize.name] == parms" ng-click="ResetVariendsModelBase(valueSize.name,parms,product.productVarientModel,product.Index)" class="attributes_{{product.Index}}" ng-disabled="RenderOnDemand(product.productVarientModel,product,parms,valueSize.name)" type="checkbox"  value="{{parms}}" required style="margin-right:3px;margin-top: 5px;"><span>{{parms}}</span>
                                        </label>
                                    </span>
                                    </div>
                                </div>
                                <div class="tovar_view_btn">
                                    
                                    <div class="fancy-select">  

                                   
                                        <select class="basic" ng-model="product.productQuantity" type="number" required>
                                            <option>QTY</option>
                                            <option value="1">1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>

                                    </div>

                                    <div class="visible-xs pull-right tovar_view_price" ng-if="!product.productMultiOptions">{{SettingGeneral.settings.currencies_format}} {{product.productPrice}}</div>
                                     <div class="visible-xs pull-right tovar_view_price" ng-if="product.productPriceCompare"  style="font-size: 13px;"><strike>({{SettingGeneral.settings.currencies_format}} {{product.productPriceCompare}})</strike></div>
                                <div class="visible-xs pull-right tovar_view_price" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0">{{SettingGeneral.settings.currencies_format}} {{returnPrice(product)}}</div>
                                    <!-- <button ng-if="!product.productMultiOptions" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart"></i>Add to bag</button> -->
                                      <button ng-if="product.productMultiOptions && returnPrice(product) <= 0" class="add_bag" type="submit" value="Add" style="opacity:0.7"><i class="fa fa-shopping-cart" ></i>Add to bag</button>
                                     <button ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0" class="add_bag" type="submit" value="Add" data-dismiss="modal"><i class="fa fa-shopping-cart"></i>Add to bag</button>
                                      <button ng-if="!product.productMultiOptions" class="add_bag" type="submit" value="Add"><i class="fa fa-shopping-cart" data-dismiss="modal"></i>Add to bag</button>
                                      <div class="hidden-xs pull-right tovar_view_price price-multi" ng-if="product.productMultiOptions && selectedVarients(product.productVarientModel) && returnPrice(product) && returnPrice(product) >= 0">{{SettingGeneral.settings.currencies_format}} {{returnPrice(product)}}</div>
                                    
                                        <div class="clearfix"></div>
                                </div>
    </form>
  </div>
</div>
<!-- //CLEARFIX -->
</div>
<!-- //TOVAR DETAILS WRAPPER -->
</div>
<!-- //ROW -->
</div>
<!-- //CONTAINER -->
</section>
<!-- //TOVAR DETAILS -->
</div>
</div>
</div>